<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Waves.Exchange</title>
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body class="web-welcome mobile-page">
    <header class="top-header">
        <nav class="navbar navbar-inverse custom-nav">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="assets/images/logo-exchange.svg"></a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Trading</a></li>
                        <li><a href="#">Staking</a></li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Download<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-windows"></i>
                                        Windows
                                        <span class="li-span">Download Windows Application</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-apple"></i> MacOS
                                        <span class="li-span">Download MacOS Application</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-linux"></i> Linux
                                        <span class="li-span">Download Linux Application</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">News<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="fa fa-twitter"></i>Twitter</a></li>
                                <li><a href="#"><i class="fa fa-telegram"></i>Telegram</a></li>
                                <li><a href="#"><i class="fa fa-medium"></i>Medium</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">DeFi<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="fa fa-windows"></i> Windows</a></li>
                                <li><a href="#"><i class="fa fa-apple"></i> MacOS</a></li>
                                <li><a href="#"><i class="fa fa-linux"></i> Linux</a></li>
                            </ul>
                        </li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <a class="btn get-btn" href="#">Get Started</a>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <section class="pannel">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default custom-pannel">
                <div class="panel-heading">
                    <div class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                            Waves / BTC

                            <ul class="list-inline acc-list">
                                <li><i class="fa fa-arrow-up blue-text"></i></li>
                                <li>0.00015180</li>
                                <li><span class="blue-text">+2.24%</span></li>
                                <li><i class="fa fa-chevron-down"></i></li>
                            </ul>

                        </a>
                    </div>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="graph-desc">
                            <ul class="nav nav-tabs graph-nav">
                                <li><a data-toggle="tab" href="#home">All</a></li>
                                <li><a data-toggle="tab" href="#menu1">WAVES</a></li>
                                <li><a data-toggle="tab" href="#menu2">BTC</a></li>
                                <li><a data-toggle="tab" href="#menu3">ETH</a></li>

                                <li class="my-dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">BCH</a></li>
                                        <li><a href="#">LTC</a></li>
                                        <li><a href="#">USDN</a></li>
                                        <li><a href="#">USTD</a></li>
                                        <li><a href="#">BSV</a></li>
                                    </ul>

                                </li>

                            </ul>

                            <div class="tab-content">
                                <div id="home" class="tab-pane fade in active">

                                    <div class="search-bar">
                                        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                                        <i class="fa fa-search"></i>
                                    </div>

                                    <div class="table-responsive mytable-2 table-height-two all-tables">
                                        <table class="table table-hover table-dark">
                                            <thead>
                                                <tr>
                                                    <th><i class="fa fa-star"></i></th>
                                                    <th>Pair</th>
                                                    <th>Price</th>
                                                    <th>Chg</th>
                                                    <th>Volume</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr>
                                                    <td><i class="fa fa-star"></i></td>
                                                    <td>Waves/BTC</td>
                                                    <td>0.00015064</td>
                                                    <td><span class="blue-text">+6.32%</span></td>
                                                    <td>194.3k</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fa fa-star blue-text"></i></td>
                                                    <td>Waves/BTC</td>
                                                    <td>0.00015064</td>
                                                    <td><span class="blue-text">+6.32%</span></td>
                                                    <td>194.3k</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fa fa-star"></i></td>
                                                    <td>Waves/BTC</td>
                                                    <td>0.00015064</td>
                                                    <td><span class="blue-text">+6.32%</span></td>
                                                    <td>194.3k</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fa fa-star"></i></td>
                                                    <td>Waves/BTC</td>
                                                    <td>0.00015064</td>
                                                    <td><span class="red-text">+6.32%</span></td>
                                                    <td>194.3k</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fa fa-star"></i></td>
                                                    <td>Waves/BTC</td>
                                                    <td>0.00015064</td>
                                                    <td><span class="blue-text">+6.32%</span></td>
                                                    <td>194.3k</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fa fa-star"></i></td>
                                                    <td>Waves/BTC</td>
                                                    <td>0.00015064</td>
                                                    <td><span class="red-text">+6.32%</span></td>
                                                    <td>194.3k</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fa fa-star"></i></td>
                                                    <td>Waves/BTC</td>
                                                    <td>0.00015064</td>
                                                    <td><span class="red-text">+6.32%</span></td>
                                                    <td>194.3k</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fa fa-star"></i></td>
                                                    <td>Waves/BTC</td>
                                                    <td>0.00015064</td>
                                                    <td><span class="blue-text">+6.32%</span></td>
                                                    <td>194.3k</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fa fa-star"></i></td>
                                                    <td>Waves/BTC</td>
                                                    <td>0.00015064</td>
                                                    <td><span class="blue-text">+6.32%</span></td>
                                                    <td>194.3k</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fa fa-star"></i></td>
                                                    <td>Waves/BTC</td>
                                                    <td>0.00015064</td>
                                                    <td><span class="blue-text">+6.32%</span></td>
                                                    <td>194.3k</td>
                                                </tr>
                                            </tbody>


                                        </table>
                                    </div>

                                </div>
                                <div id="menu1" class="tab-pane fade">
                                    <div class="search-bar">
                                        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                                        <i class="fa fa-search"></i>
                                    </div>
                                    <div class="table-responsive mytable-2 all-tables table-height-two">
                                        <table class="table table-hover table-dark">
                                            <thead>
                                                <tr>
                                                    <th><i class="fa fa-star"></i></th>
                                                    <th>Pair</th>
                                                    <th>Price</th>
                                                    <th>Chg</th>
                                                    <th>Volume</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr>
                                                    <td><i class="fa fa-star"></i></td>
                                                    <td>Waves/BTC</td>
                                                    <td>0.00015064</td>
                                                    <td><span class="blue-text">+6.32%</span></td>
                                                    <td>194.3k</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fa fa-star"></i></td>
                                                    <td>Waves/BTC</td>
                                                    <td>0.00015064</td>
                                                    <td><span class="blue-text">+6.32%</span></td>
                                                    <td>194.3k</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fa fa-star"></i></td>
                                                    <td>Waves/BTC</td>
                                                    <td>0.00015064</td>
                                                    <td><span class="blue-text">+6.32%</span></td>
                                                    <td>194.3k</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fa fa-star"></i></td>
                                                    <td>Waves/BTC</td>
                                                    <td>0.00015064</td>
                                                    <td><span class="red-text">+6.32%</span></td>
                                                    <td>194.3k</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fa fa-star"></i></td>
                                                    <td>Waves/BTC</td>
                                                    <td>0.00015064</td>
                                                    <td><span class="blue-text">+6.32%</span></td>
                                                    <td>194.3k</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fa fa-star"></i></td>
                                                    <td>Waves/BTC</td>
                                                    <td>0.00015064</td>
                                                    <td><span class="red-text">+6.32%</span></td>
                                                    <td>194.3k</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fa fa-star"></i></td>
                                                    <td>Waves/BTC</td>
                                                    <td>0.00015064</td>
                                                    <td><span class="red-text">+6.32%</span></td>
                                                    <td>194.3k</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fa fa-star"></i></td>
                                                    <td>Waves/BTC</td>
                                                    <td>0.00015064</td>
                                                    <td><span class="blue-text">+6.32%</span></td>
                                                    <td>194.3k</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fa fa-star"></i></td>
                                                    <td>Waves/BTC</td>
                                                    <td>0.00015064</td>
                                                    <td><span class="blue-text">+6.32%</span></td>
                                                    <td>194.3k</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fa fa-star"></i></td>
                                                    <td>Waves/BTC</td>
                                                    <td>0.00015064</td>
                                                    <td><span class="blue-text">+6.32%</span></td>
                                                    <td>194.3k</td>
                                                </tr>
                                            </tbody>


                                        </table>
                                    </div>
                                </div>
                                <div id="menu2" class="tab-pane fade">
                                    <div class="search-bar">
                                        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                                        <i class="fa fa-search"></i>
                                    </div>
                                    <div class="table-responsive mytable-2 all-tables table-height-two">
                                        <table class="table table-hover table-dark">
                                            <thead>
                                                <tr>
                                                    <th><i class="fa fa-star"></i></th>
                                                    <th>Pair</th>
                                                    <th>Price</th>
                                                    <th>Chg</th>
                                                    <th>Volume</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr>
                                                    <td><i class="fa fa-star"></i></td>
                                                    <td>Waves/BTC</td>
                                                    <td>0.00015064</td>
                                                    <td><span class="blue-text">+6.32%</span></td>
                                                    <td>194.3k</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fa fa-star"></i></td>
                                                    <td>Waves/BTC</td>
                                                    <td>0.00015064</td>
                                                    <td><span class="blue-text">+6.32%</span></td>
                                                    <td>194.3k</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fa fa-star"></i></td>
                                                    <td>Waves/BTC</td>
                                                    <td>0.00015064</td>
                                                    <td><span class="blue-text">+6.32%</span></td>
                                                    <td>194.3k</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fa fa-star"></i></td>
                                                    <td>Waves/BTC</td>
                                                    <td>0.00015064</td>
                                                    <td><span class="red-text">+6.32%</span></td>
                                                    <td>194.3k</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fa fa-star"></i></td>
                                                    <td>Waves/BTC</td>
                                                    <td>0.00015064</td>
                                                    <td><span class="blue-text">+6.32%</span></td>
                                                    <td>194.3k</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fa fa-star"></i></td>
                                                    <td>Waves/BTC</td>
                                                    <td>0.00015064</td>
                                                    <td><span class="red-text">+6.32%</span></td>
                                                    <td>194.3k</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fa fa-star"></i></td>
                                                    <td>Waves/BTC</td>
                                                    <td>0.00015064</td>
                                                    <td><span class="red-text">+6.32%</span></td>
                                                    <td>194.3k</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fa fa-star"></i></td>
                                                    <td>Waves/BTC</td>
                                                    <td>0.00015064</td>
                                                    <td><span class="blue-text">+6.32%</span></td>
                                                    <td>194.3k</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fa fa-star"></i></td>
                                                    <td>Waves/BTC</td>
                                                    <td>0.00015064</td>
                                                    <td><span class="blue-text">+6.32%</span></td>
                                                    <td>194.3k</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fa fa-star"></i></td>
                                                    <td>Waves/BTC</td>
                                                    <td>0.00015064</td>
                                                    <td><span class="blue-text">+6.32%</span></td>
                                                    <td>194.3k</td>
                                                </tr>
                                            </tbody>


                                        </table>
                                    </div>
                                </div>
                                <div id="menu3" class="tab-pane fade">
                                    <div class="search-bar">
                                        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                                        <i class="fa fa-search"></i>
                                    </div>
                                    <div class="table-responsive mytable-2 all-tables table-height-two">
                                        <table class="table table-hover table-dark">
                                            <thead>
                                                <tr>
                                                    <th><i class="fa fa-star"></i></th>
                                                    <th>Pair</th>
                                                    <th>Price</th>
                                                    <th>Chg</th>
                                                    <th>Volume</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr>
                                                    <td><i class="fa fa-star"></i></td>
                                                    <td>Waves/BTC</td>
                                                    <td>0.00015064</td>
                                                    <td><span class="blue-text">+6.32%</span></td>
                                                    <td>194.3k</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fa fa-star"></i></td>
                                                    <td>Waves/BTC</td>
                                                    <td>0.00015064</td>
                                                    <td><span class="blue-text">+6.32%</span></td>
                                                    <td>194.3k</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fa fa-star"></i></td>
                                                    <td>Waves/BTC</td>
                                                    <td>0.00015064</td>
                                                    <td><span class="blue-text">+6.32%</span></td>
                                                    <td>194.3k</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fa fa-star"></i></td>
                                                    <td>Waves/BTC</td>
                                                    <td>0.00015064</td>
                                                    <td><span class="red-text">+6.32%</span></td>
                                                    <td>194.3k</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fa fa-star"></i></td>
                                                    <td>Waves/BTC</td>
                                                    <td>0.00015064</td>
                                                    <td><span class="blue-text">+6.32%</span></td>
                                                    <td>194.3k</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fa fa-star"></i></td>
                                                    <td>Waves/BTC</td>
                                                    <td>0.00015064</td>
                                                    <td><span class="red-text">+6.32%</span></td>
                                                    <td>194.3k</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fa fa-star"></i></td>
                                                    <td>Waves/BTC</td>
                                                    <td>0.00015064</td>
                                                    <td><span class="red-text">+6.32%</span></td>
                                                    <td>194.3k</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fa fa-star"></i></td>
                                                    <td>Waves/BTC</td>
                                                    <td>0.00015064</td>
                                                    <td><span class="blue-text">+6.32%</span></td>
                                                    <td>194.3k</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fa fa-star"></i></td>
                                                    <td>Waves/BTC</td>
                                                    <td>0.00015064</td>
                                                    <td><span class="blue-text">+6.32%</span></td>
                                                    <td>194.3k</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fa fa-star"></i></td>
                                                    <td>Waves/BTC</td>
                                                    <td>0.00015064</td>
                                                    <td><span class="blue-text">+6.32%</span></td>
                                                    <td>194.3k</td>
                                                </tr>
                                            </tbody>


                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ends... -->







    <!-- Mobile tabs -->
    <div class="tab-content">
        <div id="charts-div" class="tab-pane fade in active">
            <div class="graph-div">
                <img class="img-responsive" src="assets/images/graph-img.png" style="height:200px;margin:0 auto;display:block">
            </div>
        </div>
        <div id="trade-div" class="tab-pane fade">
            <div class="graph-desc buy-sec">
                <ul class="nav nav-tabs graph-nav">
                    <li><a data-toggle="tab" href="#buy">Buy</a></li>
                    <li><a data-toggle="tab" href="#sell"><span class="red-text">Sell</span></a></li>
                    <li class="my-dropdown limit-list">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="bold">Limit Order</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Market Order</a></li>

                        </ul>

                    </li>

                </ul>

                <div class="tab-content" style="margin-top:10px !important">
                    <div id="buy" class="tab-pane fade in active">

                        <ul class="list-inline buy-list">
                            <li>Limit Price</li>
                            <li>Best Ask</li>
                        </ul>

                        <div class="input-group">
                            <span class="input-group-addon btn">-</span>
                            <input type="text" class="form-control" placeholder="BTC">

                            <span class="input-group-addon btn">+</span>
                        </div>


                        <ul class="list-inline buy-list">
                            <li>Amount</li>
                            <li>25% 50% 75% 100%</li>
                        </ul>

                        <div class="input-group">
                            <span class="input-group-addon btn">-</span>
                            <input type="text" class="form-control" placeholder="WAVES">
                            <span class="input-group-addon btn">+</span>
                        </div>

                        <ul class="list-inline buy-list">
                            <li>Total</li>
                            <li><span class="white-text">10 BTC</span></li>
                        </ul>

                        <div class="input-group">
                            <span class="input-group-addon btn">-</span>
                            <input type="text" class="form-control" placeholder="BTC">
                            <span class="input-group-addon btn">+</span>
                        </div>

                        <ul class="list-inline buy-list">
                            <li>Fee <span class="white-text"> 0.003 WAVES</span></li>
                            <li>
                                Expiration <span class="white-text">
                                    29 days
                                </span>
                            </li>
                        </ul>

                        <a class="buy-btn" href="#">Buy WAVES</a>

                    </div>


                    <div id="sell" class="tab-pane fade">
                        <ul class="list-inline buy-list">
                            <li>Limit Price</li>
                            <li>Best Build</li>
                        </ul>

                        <div class="input-group">
                            <span class="input-group-addon btn">-</span>
                            <input type="text" class="form-control" placeholder="BTC">
                            <span class="input-group-addon btn">+</span>
                        </div>

                        <ul class="list-inline buy-list">
                            <li>Amount</li>
                            <li>25% 50% 75% 100%</li>

                        </ul>


                        <div class="input-group">
                            <span class="input-group-addon btn">-</span>
                            <input type="text" class="form-control" placeholder="BTC">
                            <span class="input-group-addon btn">+</span>
                        </div>

                        <ul class="list-inline buy-list">
                            <li>Total</li>
                            <li><span class="white-text">9.997 WAVES</span></li>

                        </ul>


                        <div class="input-group">
                            <span class="input-group-addon btn">-</span>
                            <input type="text" class="form-control" placeholder="BTC">
                            <span class="input-group-addon btn">+</span>
                        </div>

                        <ul class="list-inline buy-list">
                            <li>
                                Fee <span class="white-text">0.003 WAVES</span>
                            </li>
                            <li>Expiration <span class="white-text">29 days</span></li>
                        </ul>

                        <a class="sell-btn" href="#">Sell WAVES</a>

                    </div>


                </div>




            </div>
        </div>
        <div id="order-div" class="tab-pane fade">
            <div class="graph-desc">
                <ul class="nav nav-tabs graph-nav lg-navtabs">
                    <li><a data-toggle="tab" href="#opt-1">My Open Orders</a></li>
                    <li><a data-toggle="tab" href="#opt-2">My Order History</a></li>
                    <li><a data-toggle="tab" href="#opt-3">My Trade History</a></li>
                    <li><a data-toggle="tab" href="#opt-4">Trade History</a></li>
                    <li><a data-toggle="tab" href="#opt-5">My Balance</a></li>
                </ul>

                <div class="tab-content" style="margin-top:8px !important">
                    <div id="opt-1" class="tab-pane fade in active">

                        <div class="table-responsive mytable-3 all-tables">
                            <table class="table table-hover table-dark">
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Time</th>
                                        <th>Price</th>
                                        <th>Amount</th>
                                        <th>Price</th>
                                        <th>Average</th>
                                        <th>Total</th>
                                        <th>Filled</th>
                                        <th>Fee</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>


                            </table>
                        </div>
                        <div>
                            <p class="text-center empty-text">
                                <a href=""> Sign in </a> or <a href=""> Create a new account </a> to see your open orders
                            </p>
                        </div>
                    </div>

                    <div id="opt-2" class="tab-pane fade">

                        <div class="table-responsive mytable-3 all-tables">
                            <table class="table table-hover table-dark">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="search-bar">
                                                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                                                <i class="fa fa-search"></i>
                                            </div>
                                        </th>
                                        <th>Time</th>
                                        <th>Price</th>
                                        <th>Amount</th>
                                        <th>Price</th>
                                        <th>Average</th>
                                        <th>Total</th>
                                        <th>Filled</th>
                                        <th>Fee</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>

                                <tbody></tbody>


                            </table>
                        </div>
                    </div>


                    <div id="opt-3" class="tab-pane fade">

                        <div class="table-responsive mytable-3 all-tables">
                            <table class="table table-hover table-dark">
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Time</th>
                                        <th>Price</th>
                                        <th>Amount</th>
                                        <th>Total</th>
                                        <th>Fee</th>

                                    </tr>
                                </thead>

                                <tbody></tbody>


                            </table>
                        </div>
                    </div>

                    <div id="opt-4" class="tab-pane fade">

                        <div class="table-responsive mytable-3 table-height-three all-tables">
                            <table class="table table-hover table-dark">
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Time</th>
                                        <th>Price</th>
                                        <th>Amount</th>
                                        <th>Total</th>

                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td><span class="red-text">Sell</span></td>
                                        <td>02-20 03:09:54</td>
                                        <td>0.00014990</td>
                                        <td>35.80213476</td>
                                        <td>0.00536674</td>
                                    </tr>

                                    <tr>
                                        <td><span class="blue-text">Buy</span></td>
                                        <td>02-20 03:09:54</td>
                                        <td>0.00014990</td>
                                        <td>35.80213476</td>
                                        <td>0.00536674</td>
                                    </tr>

                                    <tr>
                                        <td><span class="red-text">Sell</span></td>
                                        <td>02-20 03:09:54</td>
                                        <td>0.00014990</td>
                                        <td>35.80213476</td>
                                        <td>0.00536674</td>
                                    </tr>

                                    <tr>
                                        <td><span class="blue-text">Buy</span></td>
                                        <td>02-20 03:09:54</td>
                                        <td>0.00014990</td>
                                        <td>35.80213476</td>
                                        <td>0.00536674</td>
                                    </tr>

                                    <tr>
                                        <td><span class="red-text">Sell</span></td>
                                        <td>02-20 03:09:54</td>
                                        <td>0.00014990</td>
                                        <td>35.80213476</td>
                                        <td>0.00536674</td>
                                    </tr>

                                    <tr>
                                        <td><span class="blue-text">Buy</span></td>
                                        <td>02-20 03:09:54</td>
                                        <td>0.00014990</td>
                                        <td>35.80213476</td>
                                        <td>0.00536674</td>
                                    </tr>

                                    <tr>
                                        <td><span class="blue-text">Buy</span></td>
                                        <td>02-20 03:09:54</td>
                                        <td>0.00014990</td>
                                        <td>35.80213476</td>
                                        <td>0.00536674</td>
                                    </tr>

                                    <tr>
                                        <td><span class="red-text">Sell</span></td>
                                        <td>02-20 03:09:54</td>
                                        <td>0.00014990</td>
                                        <td>35.80213476</td>
                                        <td>0.00536674</td>
                                    </tr>

                                    <tr>
                                        <td><span class="blue-text">Buy</span></td>
                                        <td>02-20 03:09:54</td>
                                        <td>0.00014990</td>
                                        <td>35.80213476</td>
                                        <td>0.00536674</td>
                                    </tr>

                                    <tr>
                                        <td><span class="red-text">Sell</span></td>
                                        <td>02-20 03:09:54</td>
                                        <td>0.00014990</td>
                                        <td>35.80213476</td>
                                        <td>0.00536674</td>
                                    </tr>

                                    <tr>
                                        <td><span class="red-text">Sell</span></td>
                                        <td>02-20 03:09:54</td>
                                        <td>0.00014990</td>
                                        <td>35.80213476</td>
                                        <td>0.00536674</td>
                                    </tr>

                                    <tr>
                                        <td><span class="blue-text">Buy</span></td>
                                        <td>02-20 03:09:54</td>
                                        <td>0.00014990</td>
                                        <td>35.80213476</td>
                                        <td>0.00536674</td>
                                    </tr>

                                    <tr>
                                        <td><span class="red-text">Sell</span></td>
                                        <td>02-20 03:09:54</td>
                                        <td>0.00014990</td>
                                        <td>35.80213476</td>
                                        <td>0.00536674</td>
                                    </tr>

                                    <tr>
                                        <td><span class="red-text">Sell</span></td>
                                        <td>02-20 03:09:54</td>
                                        <td>0.00014990</td>
                                        <td>35.80213476</td>
                                        <td>0.00536674</td>
                                    </tr>

                                </tbody>


                            </table>
                        </div>
                    </div>



                    <div id="opt-5" class="tab-pane fade">

                        <div class="table-responsive mytable-3 all-tables">
                            <table class="table table-hover table-dark">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="search-bar">
                                                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                                                <i class="fa fa-search"></i>
                                            </div>
                                        </th>
                                        <th>Asset Id</th>
                                        <th>Available</th>
                                        <th>Reserved in orders</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>

                                <tbody></tbody>


                            </table>
                        </div>
                    </div>





                </div>
            </div>
        </div>
        <div id="history-div" class="tab-pane fade">
            <div class="graph-desc">
                <div class="card">
                    <div class="card-header">
                        <h4 class="small-head">Order Book</h4>
                    </div>
                    <div class="card-body">

                        <div class="table-responsive table-height-one mytable-1 all-tables">
                            <table class="table table-hover table-dark">
                                <tbody>
                                    <tr>
                                        <td>Price BTC</td>
                                        <td>Amount Waves</td>
                                        <td>Sum BTC</td>
                                    </tr>

                                    <tr>
                                        <td><span class="red-text">87364923472</span></td>
                                        <td>98345692478</td>
                                        <td>0.00015064</td>
                                    </tr>

                                    <tr>
                                        <td><span class="red-text">87364923472</span></td>
                                        <td>98345692478</td>
                                        <td>0.00015064</td>
                                    </tr>

                                    <tr>
                                        <td><span class="red-text">87364923472</span></td>
                                        <td>98345692478</td>
                                        <td>0.00015064</td>
                                    </tr>

                                    <tr>
                                        <td><span class="red-text">87364923472</span></td>
                                        <td>98345692478</td>
                                        <td>0.00015064</td>
                                    </tr>

                                    <tr>
                                        <td><span class="red-text">87364923472</span></td>
                                        <td>98345692478</td>
                                        <td>0.00015064</td>
                                    </tr>

                                    <tr>
                                        <td><span class="red-text">87364923472</span></td>
                                        <td>98345692478</td>
                                        <td>0.00015064</td>
                                    </tr>

                                    <tr>
                                        <td><span class="red-text">87364923472</span></td>
                                        <td>98345692478</td>
                                        <td>0.00015064</td>
                                    </tr>

                                    <tr>
                                        <td><span class="red-text">87364923472</span></td>
                                        <td>98345692478</td>
                                        <td>0.00015064</td>
                                    </tr>

                                    <tr>
                                        <td><span class="red-text">87364923472</span></td>
                                        <td>98345692478</td>
                                        <td>0.00015064</td>
                                    </tr>

                                    <tr>
                                        <td><span class="red-text">87364923472</span></td>
                                        <td>98345692478</td>
                                        <td>0.00015064</td>
                                    </tr>

                                    <tr>
                                        <td><span class="red-text">87364923472</span></td>
                                        <td>98345692478</td>
                                        <td>0.00015064</td>
                                    </tr>



                                    <tr>
                                        <td>LAST PRICE</td>
                                        <td><span class="blue-text bold">0.0001498</span></td>
                                        <td>SPREAD 0.29</td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>

                    </div>



                </div>
            </div>
        </div>
    </div>

    <!--  -->
    <ul class="nav nav-tabs mb-nav-tabs">
        <li class="active"><a data-toggle="tab" href="#charts-div">Charts</a></li>
        <li><a data-toggle="tab" href="#trade-div">Trade</a></li>
        <li><a data-toggle="tab" href="#order-div">My Order</a></li>
        <li><a data-toggle="tab" href="#history-div">History</a></li>
    </ul>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>


</body>
</html>