<include file="Public:header"/>
<div class="xpage-content">

			<!-- Main content -->
			<div class="container">

				<!-- Error title -->
				<div class="text-center content-group">
					<h1 class="error-title">{$type}</h1>
					<h5>{$error}</h5>
				</div>
				<!-- /error title -->


				<!-- Error content -->
				<div class="row">
					<div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
					
							<div class="row">
								<div class="col-sm-6">
									<a href="/Trade" class="btn btn-primary btn-block content-group"><i class="icon-circle-left2 position-left"></i> Go to Trading</a>
								</div>

								<div class="col-sm-6">
									<a href="/Article" class="btn btn-default btn-block content-group"><i class="icon-menu7 position-left"></i> Knowledge base</a>
								</div>
							</div>
					</div>
				</div>
				<!-- /error wrapper -->

			</div>
			<!-- /main content -->

		</div>
<include file="Public:footer_minimal"/>