<include file="Public:header"/>
<div class="container"	>
	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Info blocks -->
				<div class="row">
					<div class="col-md-4">
						<div class="panel">
							<div class="panel-body text-center">
								<div class="icon-object border-success-400 text-success"><i class="icon-book"></i></div>
								<h5 class="text-semibold">Knowledge Base</h5>
								<p class="content-group">Ouch found swore much dear conductively hid submissively hatchet vexed far inanimately alongside candidly much and jeez</p>
								<p><a href="#" class="btn bg-success-400">Browse articles</a></p>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="panel">
							<div class="panel-body text-center">
								<div class="icon-object border-warning-400 text-warning"><i class="icon-lifebuoy"></i></div>
								<h5 class="text-semibold">Support center</h5>
								<p class="content-group">Dear spryly growled much far jeepers vigilantly less and far hideous and some mannishly less jeepers less and and crud</p>
								<p><a href="#" class="btn bg-warning-400">Open a ticket</a></p>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="panel">
							<div class="panel-body text-center">
								<div class="icon-object border-blue text-blue"><i class="icon-reading"></i></div>
								<h5 class="text-semibold">Articles and news</h5>
								<p class="content-group">Diabolically somberly astride crass one endearingly blatant depending peculiar antelope piquantly popularly adept much</p>
								<p><a href="{:U('Article/index')}" class="btn bg-blue">Browse articles</a></p>
							</div>
						</div>
					</div>
				</div>
				<!-- /info blocks -->
</div>
</div>
</div>
</div>
<include file="Public:footer_minimal"/>