<include file="Public:header" />
		<!-- Page content -->
		<div class="page-container">	
	
<include file="User:left" />
<div class="col-sm-9">
		<!-- Main content -->
			<div class="panel panel-flat">
			<div class="panel-heading">
				<h1 class="panel-title">{:l('LOGIN_PASSWORD')}<span>
					<a class="right" onclick="$('#hints').slideToggle();">
					<i class="fa fa-hand-o-right move fz_14 mr5"></i><span class="fz_12 move">{:l('VIEW_DESCRIPTION')}</span></a>
											</span>
				</h1>
			</div>
			<div id="hints" class="mytips" style="display:none;">
				
				<notempty name="prompt_text">
					<p>{$prompt_text}</p>		
				</notempty>		
			</div>
			<div class="panel-body ">
			
			<div class="form-horizontal">
				<fieldset class="content-group">
				
				<div class="form-group">
					<label class="control-label col-lg-2">{:l('OLD_PASSWORD')}</label>
					<div class="col-lg-5">
					<input type="password" id="oldpassword" class="form-control" tabindex="1">
					</div>
					<span class="help-block">						<a href="/Login/findpwd" class="ml5 btn btn-xs btn-warning">{:l('FORGET')}?</a></span>
				</div>
								<div class="form-group">
					<label class="control-label col-lg-2">{:l('NEW_LOGIN_PASSWORD')}</label>
					<div class="col-lg-5">
					<input type="password" id="newpassword" class="form-control" tabindex="2">
					</div>
					<span class="help-block"></span>
				</div>
								<div class="form-group">
					<label class="control-label col-lg-2">{:l('CONFIRM_PASSWORD')}</label>
					<div class="col-lg-5">
					<input type="password" id="repassword" class="form-control" tabindex="3">
					</div>
					<span class="help-block"></span>
				</div>
				<div class="text-right col-sm-7">
								<button tabindex="4" type="submit" class="btn btn-primary" value="{:l('Submit')}" onclick="password_up()">Submit <i class="icon-arrow-right14 position-right"></i></button>
							</div>
				
			</div>
		
	</div>
</div>
</div>
</div>
<script>
var hints = "0";
					if(hints == 1){
						$('#hints').show();
	}
	function password_up() {
		var oldpassword = $('#oldpassword').val();
		var newpassword = $('#newpassword').val();
		var repassword  = $('#repassword').val();

		if (oldpassword == '' || oldpassword == null) {
			layer.tips("{:l('PLEASE_ENTER_YOUR_OLD_PASSWORD')}", '#oldpassword', {tips: 2});
			return false;
		}
		if (newpassword == '' || newpassword == null) {
			layer.tips("{:l('PLEASE_ENTER_A_NEW_PASSWORD')}", '#newpassword', {tips: 2});
			return false;
		}
		if (repassword != newpassword) {
			layer.tips("{:l('CONFIRM_PASSWORD_ERROR')}", '#repassword', {tips: 2});
			return false;
		}

		$.post("/User/uppassword_qq", {
			oldpassword: oldpassword,
			newpassword: newpassword,
			repassword:repassword
		}, function (data) {
			if (data.status == 1) {
				layer.msg(data.info, {icon: 1});
				if (data.url) {
					window.location = data.url;
				} else {
					window.location.reload();
				}

			} else {
				layer.msg(data.info, {icon: 2});
				if (data.url) {
					window.location = data.url;
				}
			}
		}, 'json');
	}

	$('.user_password').addClass('active');

	if ($("#user_box").length > 0) {
		$('#user_box').addClass('active');
	} else {
		$('#index_box').addClass('active');
	}
	$('.finan_index').addClass('active');
</script>
<include file="Public:footer_minimal"/>