<include file="Public:header" />

		<!-- Page content -->
		<div class="page-container">	
	
<include file="User:left" />
<div class="col-sm-9">
		<!-- Main content -->
			<div class="">
			<div class="panel panel-flat">
			<div class="panel panel-heading">
				<h1 class="panel-title">
					
                    <span class="btn-group">
                        <a onclick="step1();" id="step1" class="btn btn-flat current">{:l('MODIFY_TRANSACTION_PASSWORD')}</a>
						</span>
					<span class="btn-group">	
                        <a onclick="step2();" id="step2" class="btn btn-flat">{:l('SET_THE_AUTHENTICATION_MODE')}</a>
                    </span>
					<span>
												<a class="right" onclick="$('#hints').slideToggle();"><i class="fa fa-hand-o-right fz_14 mr5 move"></i><span class="fz_12 move">{:l('VIEW_DESCRIPTION')}</span></a>
											</span>
				</h1>
				<div id="hints" class="mytips" style="display:none;">
				<notempty name="prompt_text">
					<p>{$prompt_text}</p>		
				</notempty>			
			</div>
			</div>
			
			<div class="panel-body  ">
				<div class="step1 pwtrade">
							<div class="form-horizontal">
			<fieldset class="content-group">
			
							<if condition="$show_old">
								<div class="form-group">	
									<label class="control-label col-lg-2">{:l('OLD_TRADING_PASSWORD')}</label>
									<div class="col-lg-5">
										<input  class="form-control" type="password" tabindex="1" id="oldpaypassword">
									</div>
									<span class="help-block"><a href="/Findpwd/findpwd" class="move ml5">{:l('FORGET')}?</a></span>
								</div>
							</if>
<div class="form-group">
									<label class="control-label col-lg-2">{:l('NEW_TRADING_PASSWORD')}</label>
									<div class="col-lg-5">
										<input type="password" tabindex="2" id="newpaypassword" class="form-control">
									</div>
								</div>
<div class="form-group">
									<label class="control-label col-lg-2">{:l('CONFIRM_PASSWORD')}</label>
									<div class="col-lg-5">
										<input type="password" tabindex="3" id="repaypassword" class="form-control">
									</div>
								</div>
<div class="text-right col-sm-7">
								<button type="submit" class="btn btn-primary" onclick="paypassword_up()">Submit <i class="icon-arrow-right14 position-right"></i></button>
							</div>
			
			</fieldset>
			</div>
		
				</div>
				<div class="step2 set_verify mt30" style="display:none;">
					<ul>
						<li>{:l('CONFIGURING_AUTHENTICATION')}:</li>
						<li>
							<input type="radio" name="tpwdsetting" value="1" style="vertical-align: -2px;"
							<eq name="user['tpwdsetting']" value="1">checked="checked"</eq>
							> {:l('ENTER_ONLY_ONCE_EACH_TIME_YOU_')}						</li>
						<li>
							<input type="radio" name="tpwdsetting" value="2" style="vertical-align: -2px;"
							<eq name="user['tpwdsetting']" value="2">checked="checked"</eq>
							> {:l('EACH_TRANSACTION_TRANSACTION_P')}						</li>
						<li>
							<input type="radio" name="tpwdsetting" value="3" style="vertical-align: -2px;"
							<eq name="user['tpwdsetting']" value="3">checked="checked"</eq>
							> {:l('YOU_DO_NOT_NEED_TO_ENTER_EACH_')}						</li>
						<li>
							<div class="mt5 mb5 ">
								<input id="paypassword" placeholder="{:l('PLEASE_ENTER_TRANSACTION_PASSW')}" type="password" class="texts"><a href="/Findpwd/findpwd" class="move ml5">{:l('FORGET')}?</a>
							</div>
						</li>
						<li>
							<div class="mt10 mb10 ">
								<input class="btns2" value="{:l('STORAGE')}" type="button" onclick="paypassword_set()">
							</div>
						</li>
					</ul>
					
				</div>
			</div>
		</div>

</div>
</div>
<script>
						function step1() {
							$(".step").removeClass('active');
							$('#step1').addClass('active');
							$(".step2").hide();
							$(".step1").show();
						}
						function paypassword_up() {
						<if condition="$show_old">
							var oldpaypassword = $('#oldpaypassword').val();
						<else/>
						var oldpaypassword = 'na';
						</if>
							var newpaypassword = $('#newpaypassword').val();
							var repaypassword  = $('#repaypassword').val();
							//alert(repaypassword);
							<if condition="$show_old">
							if (oldpaypassword == '' || oldpaypassword == null) {
								layer.tips("{:l('PLEASE_ENTER_YOUR_OLD_PASSWORD')}", '#oldpaypassword', {tips: 3});
								return false;
							}
							</if>
							if (newpaypassword == '' || newpaypassword == null) {
								layer.tips("{:l('PLEASE_ENTER_A_NEW_TRANSACTION')}", '#newpaypassword', {tips: 3});
								return false;
							}
							if (repaypassword == '' || repaypassword != newpaypassword) {
								layer.tips("{:l('PLEASE_INPUT_CORRECT_PASSWORD_')}", '#repaypassword', {tips: 3});
								return false;
							}

							$.post("/User/uppaypassword_qq", {
								oldpaypassword: oldpaypassword,
								newpaypassword: newpaypassword,
								repaypassword : repaypassword,
								type:1
							}, function (data) {
								if (data.status == 1) {
									layer.msg(data.info, {icon: 1});
									if (data.url) {
										window.location = data.url;
									} else {
										window.location.reload();
									}
								} else {
									layer.msg(data.info, {icon: 2});
									if (data.url) {
										window.location = data.url;
									}
								}
							}, "json");
						}
					</script>
<script>
						//$(':radio[name="tpwdsetting"]').eq(("2" - 1)).attr("checked", true);

						function step2() {
							$(".step").removeClass('active');
							$('#step2').addClass('active');
							$(".step1").hide();
							$(".step2").show();
						}

						function paypassword_set() {
						<if condition="$show_old">
							var paypassword = $("#paypassword").val();
							
							if (paypassword == "" || paypassword == null) {
								layer.tips("{:l('PLEASE_ENTER_TRANSACTION_PASSW')}", '#paypassword', {tips: 3});
								return false;
							}<else/>
							var paypassword=null;
							</if>
							var tpwdsetting = $("input[name='tpwdsetting']:checked").val();
							if (tpwdsetting == "" || tpwdsetting == null) {
								layer.tips("{:l('PLEASE_SELECT_A')}", '#tpwdsetting', {tips: 3});
								return false;
							}

							$.post("/User/uptpwdsetting", {
								paypassword: paypassword,
								tpwdsetting: tpwdsetting,
								type:2

							}, function (data) {
								if (data.status == 1) {
									layer.msg(data.info, {icon: 1});
									if (data.url) {
										window.location = data.url;
									} else {
										window.location.reload();
									}
								} else {
									layer.msg(data.info, {icon: 2});
									if (data.url) {
										window.location = data.url;
									}
								}
							}, "json");
						}
					</script>
<script>
	$('.user_paypassword').addClass('active');
</script>

<script>
	var hints = "0";
	if(hints == 1){
		$('#hints').show();
	}
</script>

<script>
	if ($("#user_box").length > 0) {
		$('#user_box').addClass('active');
	} else {
		$('#index_box').addClass('active');
	}
</script>
<script>
	$('.finan_index').addClass('active');
</script>

<include file="Public:footer_minimal"/>