<include file="Public:header"/>
<script type="text/javascript" src="__PUBLIC__/static/js/cityselect.js"></script>
<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">	
<include file="User:left"/>
<div class="col-sm-9">
	<div class="row pricing-table">
                    <div class="col-sm-6 col-lg-3">
                        <div class="panel text-center">
                            <div class="panel-body">
                                <h4>Personal</h4>
                                <h1 class="pricing-table-price"><span>$</span>29</h1>
                                <ul class="list-unstyled content-group">
                                    <li><strong>25GB</strong> space</li>
                                    <li><strong>2GB</strong> RAM</li>
                                    <li><strong>1</strong> domain</li>
                                    <li><strong>5</strong> emails</li>
                                    <li><strong>Daily</strong> backups</li>
                                    <li><strong>24/7</strong> support</li>
                                </ul>
                                <a href="#" class="btn bg-pink-400 btn-lg text-uppercase text-size-small text-semibold">Purchase</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <div class="panel text-center">
                            <div class="panel-body">
                                <h4>Business</h4>
                                <h1 class="pricing-table-price"><span>$</span>39</h1>
                                <ul class="list-unstyled content-group">
                                    <li><strong>75GB</strong> space</li>
                                    <li><strong>4GB</strong> RAM</li>
                                    <li><strong>10</strong> domains</li>
                                    <li><strong>15</strong> emails</li>
                                    <li><strong>Daily</strong> backups</li>
                                    <li><strong>24/7</strong> support</li>
                                </ul>
                                <a href="#" class="btn bg-pink-400 btn-lg text-uppercase text-size-small text-semibold">Purchase</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <div class="panel text-center bg-pink-400">
                            <div class="panel-body">
                                <h4>Corporate</h4>
                                <h1 class="pricing-table-price"><span>$</span>49</h1>
                                <ul class="list-unstyled content-group">
                                    <li><strong>150GB</strong> space</li>
                                    <li><strong>8GB</strong> RAM</li>
                                    <li><strong>20</strong> domains</li>
                                    <li><strong>50</strong> emails</li>
                                    <li><strong>Daily</strong> backups</li>
                                    <li><strong>24/7</strong> support</li>
                                </ul>
                                <a href="#" class="btn bg-pink-800 btn-lg text-uppercase text-size-small text-semibold">Purchase</a>

                                <div class="ribbon-container">
									<div class="ribbon bg-white">Popular</div>
								</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <div class="panel text-center">
                            <div class="panel-body">
                                <h4>Enterprise</h4>
                                <h1 class="pricing-table-price"><span>$</span>59</h1>
                                <ul class="list-unstyled content-group">
                                    <li><strong>256GB</strong> space</li>
                                    <li><strong>16GB</strong> RAM</li>
                                    <li><strong>Unlimited</strong> domains</li>
                                    <li><strong>Unlimited</strong> emails</li>
                                    <li><strong>Daily</strong> backups</li>
                                    <li><strong>24/7</strong> support</li>
                                </ul>
                                <a href="#" class="btn bg-pink-400 btn-lg text-uppercase text-size-small text-semibold">Purchase</a>  
                            </div>
                        </div>
                    </div>
                </div>
				</div>
		</div>
		</div>

		<!-- Main content -->
			
<include file="Public:footer_minimal"/>