<include file="Public:header" />
<div id="main-content" class="col-sm-10">
	<div id="top-alert" class="fixed alert alert-error" style="display: none;">
		<button class="close fixed" style="margin-top: 4px;">&times;</button>
		<div class="alert-content">Warnings</div>
	</div>
	<div id="main" class="main">
		<div class="main-title-h">
			<span class="h1-title">Wallet Details</span>
			<span class="h2-title">>><a href="{:U('Coin/index')}">Currency list</a></span>
		</div>

		<div class="cf">
			<div class="search-form fr cf">
				<div class="sleft">
				
				
				</div>
			</div>
		</div>
		<div class="data-table table-striped">
			<table class="">
				<thead>
					<tr>
						<th class="row-selected row-selected"><input class="check-all" type="checkbox" /></th>
						<th class="">ID</th>						
						<th class="">Wallet address</th>
						<th class="">Exchange UserID</th>
						<th class="">Label</th>
						<th class="">Blockchain Balance</th>
						<th class="">Exchange balance</th>
						
						
					</tr>
				</thead>
				<tbody>
					<notempty name="list"> 
					
					<volist name="list" id="vo">
					<tr>

						<td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" />{$vo.id}</td>	
						<td>{$key}</td>		
						<td>{$vo.addr}</td>
						<td>{$vo.userid} </td>
						<td>{$vo.label}</td>
						<td>{$vo.balance}</td>
						<td>Available:{$vo.xnb}<br>Freeze:{$vo.xnbd}<br>Total:{$vo.zj}</td>
						
									
					</tr>
					</volist> <else />
					<td colspan="12" class="text-center">No contents!</td>
					</notempty>
				</tbody>
			</table>
			<div class="page">
				<div>{$page}</div>
			</div>
		</div>
	</div>
</div>
<include file="Public:footer" />
<block name="script">
	<script type="text/javascript" charset="utf-8">
		//Highlight navigation
		highlight_subnav("{:U('Config/coin')}");
	</script>
</block>