<include file="Public:header" />
<div class="wrapbody">
	<div class="main">
	
		<div class="myright" >
			<div class="wraphtml">
				<div class="f_title clearfix">
					<div class="f_title_span left">
						<span class="current">
							<i></i>
							<a href="{:U('Money/type')}">{:l('SYNTHETICALLY')}</a>
						</span>
						<span class="">
							<a href="{:U('Money/index')}">{:l('SYNTHESIS_IMMEDIATELY')}</a>
						</span>
						<span class="">
							<a href="{:U('Money/log')}">{:l('SYNTHETICS')}</a>
						</span>
					</div>
				</DIV>
				<notempty name="C['money_text_type']">
				<div class="mytips">
					<h6 style="color: #ff8000;">{:l('TIPS')}</h6>
					{$C['money_text_type']|htmlspecialchars_decode}
				</div>
				</notempty>
				<div class="f_body">
					<table class="table table-responsive" id="investLog_content">
						<thead>
							<tr>
								<th id="sublist-grid_c0">{:l('SYNTHESIS_OF_NAME')}</th>
								<th id="sublist-grid_c1">{:l('SYNTHETIC_CURRENCY')}</th>
								<th id="sublist-grid_c2">{:l('SYNTHESIS_CYCLE')}</th>
								<th id="sublist-grid_c3">{:l('ANNUAL_INTEREST')}</th>
							</tr>
						</thead>
						<tbody>
							<volist name="list" id="vo">
							<tr>
								<td>{$vo['name']}</td>
								<td>{$C['coin'][$vo['coinname']]['title']}</td>
								<td>{$vo['tian']} days</td>
								<td>{$vo['fee']}%</td>
							</tr>
							</volist>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
//Highlight the top menu
$('#menu_top_game').addClass('current');
$('#menu_left_money').addClass('current');
</script>
<include file="Public:footer_minimal"/>