            <section class="section" id="press">

                <div class="container container-xxl">
                    <div class="nk-block">
                        <div class="row justify-content-between gutter-vr-80px">
                            <div class="col-lg-6">
                                <div class="section-head section-head-s2 text-center ">
                                    <h2 class="title animated" data-animate="fadeInUp" data-delay="0.1" title="Press">IN PRESS</h2>
                                </div>
                                <div class="nk-block">
                                    <div class="has-carousel carousel-nav-center pdb-l" data-items="1" data-navs="true">
                                        <div class="item pb-3">
                                            <div class="row justify-content-center gutter-vr-30px">
                                                <div class="col-6 col-sm-4">
                                                    <div class="partner-logo animated" data-animate="fadeInUp" data-delay="0.2">
                                                        <img src="__PUBLIC__/vuetrade/images/partners/a-light.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-6 col-sm-4">
                                                    <div class="partner-logo animated" data-animate="fadeInUp" data-delay="0.25">
                                                        <img src="__PUBLIC__/vuetrade/images/partners/b-light.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-6 col-sm-4">
                                                    <div class="partner-logo animated" data-animate="fadeInUp" data-delay="0.3">
                                                        <img src="__PUBLIC__/vuetrade/images/partners/c-light.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-6 col-sm-4">
                                                    <div class="partner-logo animated" data-animate="fadeInUp" data-delay="0.35">
                                                        <img src="__PUBLIC__/vuetrade/images/partners/d-light.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-6 col-sm-4">
                                                    <div class="partner-logo animated" data-animate="fadeInUp" data-delay="0.4">
                                                        <img src="__PUBLIC__/vuetrade/images/partners/e-light.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-6 col-sm-4">
                                                    <div class="partner-logo animated" data-animate="fadeInUp" data-delay="0.45">
                                                        <img src="__PUBLIC__/vuetrade/images/partners/f-light.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-6 col-sm-4">
                                                    <div class="partner-logo animated" data-animate="fadeInUp" data-delay="0.5">
                                                        <img src="__PUBLIC__/vuetrade/images/partners/a-light.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-6 col-sm-4">
                                                    <div class="partner-logo animated" data-animate="fadeInUp" data-delay="0.55">
                                                        <img src="__PUBLIC__/vuetrade/images/partners/b-light.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-6 col-sm-4">
                                                    <div class="partner-logo animated" data-animate="fadeInUp" data-delay="0.6">
                                                        <img src="__PUBLIC__/vuetrade/images/partners/c-light.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item pb-3">
                                            <div class="row justify-content-center gutter-vr-30px">
                                                <div class="col-6 col-sm-4">
                                                    <div class="partner-logo animated" data-animate="fadeInUp" data-delay="0.2">
                                                        <img src="__PUBLIC__/vuetrade/images/partners/a-light.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-6 col-sm-4">
                                                    <div class="partner-logo animated" data-animate="fadeInUp" data-delay="0.25">
                                                        <img src="__PUBLIC__/vuetrade/images/partners/b-light.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-6 col-sm-4">
                                                    <div class="partner-logo animated" data-animate="fadeInUp" data-delay="0.3">
                                                        <img src="__PUBLIC__/vuetrade/images/partners/c-light.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-6 col-sm-4">
                                                    <div class="partner-logo animated" data-animate="fadeInUp" data-delay="0.35">
                                                        <img src="__PUBLIC__/vuetrade/images/partners/d-light.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-6 col-sm-4">
                                                    <div class="partner-logo animated" data-animate="fadeInUp" data-delay="0.4">
                                                        <img src="__PUBLIC__/vuetrade/images/partners/e-light.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-6 col-sm-4">
                                                    <div class="partner-logo animated" data-animate="fadeInUp" data-delay="0.45">
                                                        <img src="__PUBLIC__/vuetrade/images/partners/f-light.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-6 col-sm-4">
                                                    <div class="partner-logo animated" data-animate="fadeInUp" data-delay="0.5">
                                                        <img src="__PUBLIC__/vuetrade/images/partners/a-light.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-6 col-sm-4">
                                                    <div class="partner-logo animated" data-animate="fadeInUp" data-delay="0.55">
                                                        <img src="__PUBLIC__/vuetrade/images/partners/b-light.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-6 col-sm-4">
                                                    <div class="partner-logo animated" data-animate="fadeInUp" data-delay="0.6">
                                                        <img src="__PUBLIC__/vuetrade/images/partners/c-light.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-5">
                                <div class="section-head section-head-s2 text-center">
                                    <h2 class="title animated" data-animate="fadeInUp" data-delay="0.7" title="Update">NEWS</h2>
                                </div>
                                <div class="nk-block">
                                    <div class="has-carousel carousel-nav-center" data-items="1" data-navs="true">
                                        <div class="item pb-2">
                                            <div class="blog blog-s2 animated" data-animate="fadeInUp" data-delay="0.8">
                                                <div class="blog-content blog-content-inline">
                                                    <div class="blog-text">
                                                        <h5 class="blog-title title-sm">Fintech G20 Global Summit  2019</h5>
                                                        <div class="blog-location">New Youk, United State</div>
                                                    </div>
                                                    <div class="blog-action">
                                                        <a href="#" class="link"><span> Learn More</span> <em class="link-icon link-icon-sm fas fa-angle-right"></em></a>
                                                    </div>
                                                </div>
                                                <div class="bg-image round" data-overlay="theme-dark" data-opacity="85">
                                                    <img src="__PUBLIC__/vuetrade/images/news-hr-a.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="blog blog-s2 animated" data-animate="fadeInUp" data-delay="0.85">
                                                <div class="blog-content blog-content-inline">
                                                    <div class="blog-text">
                                                        <h5 class="blog-title title-sm">Blockchain Global Summit 2019</h5>
                                                        <div class="blog-location">California, United State</div>
                                                    </div>
                                                    <div class="blog-action">
                                                        <a href="#" class="link"><span> Learn More</span> <em class="link-icon link-icon-sm fas fa-angle-right"></em></a>
                                                    </div>
                                                </div>
                                                <div class="bg-image round" data-overlay="theme-dark" data-opacity="85">
                                                    <img src="__PUBLIC__/vuetrade/images/news-hr-b.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item pb-2">
                                            <div class="blog blog-s2 animated" data-animate="fadeInUp" data-delay="0.8">
                                                <div class="blog-content blog-content-inline">
                                                    <div class="blog-text">
                                                        <h5 class="blog-title title-sm">Fintech G20 Global Summit  2019</h5>
                                                        <div class="blog-location">New Youk, United State</div>
                                                    </div>
                                                    <div class="blog-action">
                                                        <a href="#" class="link"><span> Learn More</span> <em class="link-icon link-icon-sm fas fa-angle-right"></em></a>
                                                    </div>
                                                </div>
                                                <div class="bg-image round" data-overlay="theme-dark" data-opacity="85">
                                                    <img src="__PUBLIC__/vuetrade/images/news-hr-a.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="blog blog-s2 animated" data-animate="fadeInUp" data-delay="0.85">
                                                <div class="blog-content blog-content-inline">
                                                    <div class="blog-text">
                                                        <h5 class="blog-title title-sm">Blockchain Global Summit 2019</h5>
                                                        <div class="blog-location">California, United State</div>
                                                    </div>
                                                    <div class="blog-action">
                                                        <a href="#" class="link"><span> Learn More</span> <em class="link-icon link-icon-sm fas fa-angle-right"></em></a>
                                                    </div>
                                                </div>
                                                <div class="bg-image round" data-overlay="theme-dark" data-opacity="85">
                                                    <img src="__PUBLIC__/vuetrade/images/news-hr-b.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .nk-block -->
                </div>

            </section>