<!DOCTYPE html>
<html lang="zxx" class="js">
<head>
	<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<link rel="shortcut icon" href="/favicon.ico">
<meta name="Keywords" content="<neq name="page_title" value=''>{$page_title} |</neq> {:C('web_keywords')}">
<meta name="Description" content="<neq name="page_title" value=''>{$page_title} |</neq> {:C('web_description')}">
<link rel="stylesheet" href="__PUBLIC__/vuetrade/assets/css/vendor.bundle.css?ver=192">
<link rel="stylesheet" href="__PUBLIC__/vuetrade/assets/css/style-libertas.css?ver=192" id="changeTheme">
<script type="text/javascript" src="__PUBLIC__/assets/js/core/libraries/jquery.min.js"></script>
<link rel="stylesheet" href="__PUBLIC__/vuetrade/assets/css/theme.css?ver=192">
</head>