<include file="Index:html_header"/>
    <body class="nk-body body-wider bg-theme mode-onepage">
 
	<div class="nk-wrap">
		<header class="nk-header page-header is-transparent is-sticky is-dark" id="header">
		<include file="Index:top_menu"/>	
		<include file="Index:banner-2"/>	
		</header>
        <main class="nk-pages tc-light">
            <include file="Index:platform"/>	
			<include file="Index:markets"/>		
			<include file="Index:tokensale"/>
            <include file="Index:eco-system"/>	
			<include file="Index:partners"/>
			<include file="Index:docs"/> 
            <include file="Index:faq_work_due"/> 
         </main>
        
        <footer class="nk-footer ov-h has-ovm">
            <include file="Index:footer_menu"/> 
        </footer>
        
        <div class="nk-ovm nk-ovm-repeat nk-ovm-fixed shape-i">
            <div class="ovm-line"></div>
        </div>
	</div>
    
    

<include file="Index:html_footer"/>	
	<!-- JavaScript -->
	
