  <section class="bg-theme" id="tokens-2">

                <div class="section section-tokensale tc-light">

                    <div class="container">

                        <div class="section-head text-center wide-auto">
                            <h2 class="title animated" data-animate="fadeInUp" data-delay=".1">ICOX Tokens</h2>
                            <p class="animated" data-animate="fadeInUp" data-delay=".2">Our Tokens with a realworld use case created on the blockchain network.</p>
                        </div>

                        <div class="nk-block nk-block-token mgb-m30">
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="token-info bg-theme animated" data-animate="fadeInUp" data-delay=".3">
                                        <h4 class="title title-md mb-2 text-sm-center">Sales Information</h4>
                                        <table class="table table-token">
                                            <tbody>
                                                <tr>
                                                    <td class="table-head">Public Sale Starts</td>
                                                    <td class="table-des">15th Nov 2018 12:00 GMT</td>
                                                </tr>
                                                <tr>
                                                    <td class="table-head">Public Sale Ends</td>
                                                    <td class="table-des">14th Dec 2018 12:00 GMT</td>
                                                </tr>
                                                <tr>
                                                    <td class="table-head">Total Token Supply</td>
                                                    <td class="table-des">500,000,000</td>
                                                </tr>
                                                <tr>
                                                    <td class="table-head">Tokens Allocated for ICO</td>
                                                    <td class="table-des">350,000,000</td>
                                                </tr>
                                                <tr>
                                                    <td class="table-head">Hard Cap</td>
                                                    <td class="table-des">$4.75m</td>
                                                </tr>
                                                <tr>
                                                    <td class="table-head">Soft Cap</td>
                                                    <td class="table-des">$1.75m</td>
                                                </tr>
                                                <tr>
                                                    <td class="table-head">Token Value</td>
                                                    <td class="table-des">1 ETH = 1,000 ICOX</td>
                                                </tr>
                                                <tr>
                                                    <td class="table-head">Accepted</td>
                                                    <td class="table-des">ETH, BTC</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="animated" data-animate="fadeInUp" data-delay=".4">
                                        <div class="token-status bg-theme">
                                            <h4 class="title title-md">Token Sale Stage End In</h4>
                                            <div class="token-countdown countdown" data-date="2020/03/15"></div>
                                            <div class="progress-wrap progress-wrap-point">
                                                <span class="progress-info">Raised so far <span>$1,830,985</span></span>
                                                <div class="progress-bar">
                                                    <div class="progress-percent bg-grad" data-percent="30"></div>
                                                    <div class="progress-point progress-point-1">Soft Cap <span>$1.75m</span></div>
                                                    <div class="progress-point progress-point-2">Hard Cap <span>$4.75m</span></div>
                                                </div>
                                            </div>
                                            <a href="#" class="btn btn-grad">Register &amp; Buy Token Now</a>
                                            <span class="token-min">Minimum Purchase: 200 ICOX</span>
                                        </div>
                                        <div class="bonus bg-theme">
                                            <div class="bonus-info">
                                                <div class="bonus-percent">50% <small>Bonus</small></div>
                                                <div class="bonus-date">End at 30 Nov, 2018</div>
                                                <span class="bonus-badge badge-xs">Now</span>
                                            </div>
                                            <div class="bonus-info">
                                                <div class="bonus-percent">25%<small>Bonus</small></div>
                                                <div class="bonus-date">Start at 01 Dec, 2018</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
