<div class="panel panel-body">
                  <div class="row text-center">
                     <div class="col-xs-3">
                        <p><i class="icon-users2 icon-2x display-inline-block text-info"></i></p>
                        <h5 class="text-semibold no-margin">{$issue['num']*1}</h5>
                        <span class="text-muted text-size-small">{:l('THE_TOTAL_AMOUNT_OF_SUBSCRIPTI')}</span>
                     </div>
                     <div class="col-xs-3">
                        <p><i class="icon-cash3 icon-2x display-inline-block text-success"></i></p>
                        <h5 class="text-semibold no-margin">{$issue['deal']*1}	</h5>
                        <span class="text-muted text-size-small">{:l('CUMULATIVE_SUBSCRIBED')}</span>
                     </div>
                     <div class="col-xs-3">
                        <p><i class="icon-point-up icon-2x display-inline-block text-warning"></i></p>
                        <h5 class="text-semibold no-margin">{$issue['price']*1}		{$issue['buycoin']|strtoupper}</h5>
                        <span class="text-muted text-size-small">{:l('ICO_PRICE')}</span>
                     </div>
                     <div class="col-xs-3">
                        <p><i class="icon-cash3 icon-2x display-inline-block text-info"></i></p>
                        <h5 class="text-semibold no-margin">{$issue['limit']*1}	</h5>
                        <span class="text-muted text-size-small">{:l('ICO_LIMIT')}</span>
                     </div>
                  </div>
               </div>