<div id="cryptocharts_pro"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
    new TradingView.widget(
	{
					fullscreen: true,
					autosize: true,
					height:"100%",
					symbol: '{$charts_symbol}',
					theme: '<?php $color=cookie("colorshade")?cookie("colorshade"):"dark"; echo $color;?>',
			

					overrides: {
						"paneProperties.vertGridProperties.color": "transparent",
						"paneProperties.horzGridProperties.color": "transparent",
						"symbolWatermarkProperties.transparency": 90,
						"scalesProperties.textColor" : "#454545",
						"mainSeriesProperties.style": 8,
					},
					hide_legend:true,		
					interval: '1',
					container_id: "cryptocharts_pro",
					library_path: "__PUBLIC__/Home/js/tradingview/charting_library/",
					locale: getParameterByName('lang') || "en",
					//	Regression Trend-related functionality is not implemented yet, so it's hidden for a while
					drawings_access: { type: 'black', tools: [ { name: "Regression Trend" } ] },

					disabled_features: ["edit_buttons_in_legend","header_symbol_search","use_localstorage_for_settings","header_symbol_search","compare_symbol","border_around_the_chart","volume_force_overlay","create_volume_indicator_by_default"],

					enabled_features: ["hide_left_toolbar_by_default","hide_symbol"],
					charts_storage_url: '__PUBLIC__/Home/js/tradingview/charting_library',
                    charts_storage_api_version: "1.1",
				}

  );
      function getParameterByName(name) {
                name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
                var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                        results = regex.exec(location.search);
                return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
            }

  </script>