				<li class="dropdown language-switch">
					<a class="dropdown-toggle" data-toggle="dropdown" >
						<div id="langselection"><img src="__PUBLIC__/assets/images/flags/<notempty name="Think.cookie.lang"> {$Think.cookie.lang}<else/>en</notempty>.png" class="position-left" alt="">
						
						<span class="caret"></span></div>
					</a>
					<ul class="dropdown-menu">
						<li onclick="choose_lang('en')"><a class="english"><img src="__PUBLIC__/assets/images/flags/gb.png" alt=""> English</a></li>
						<li onclick="choose_lang('es')"><a class="espana"><img src="__PUBLIC__/assets/images/flags/es.png" alt=""> España</a></li>
						<li onclick="choose_lang('nl')"><a class="deutsch"><img src="__PUBLIC__/assets/images/flags/nl.png" alt=""> Dutch</a></li>
						<li onclick="choose_lang('iw')"><a class="Hebrew"><img src="__PUBLIC__/assets/images/flags/iw.png" alt=""> Hebrew</a></li>
						<li onclick="choose_lang('de')"><a class="german"><img src="__PUBLIC__/assets/images/flags/de.png" alt=""> German</a></li>
						<li onclick="choose_lang('ko')"><a class="Korean"><img src="__PUBLIC__/assets/images/flags/ko.png" alt=""> Korean</a></li>
						<li onclick="choose_lang('ja')"><a class="Japanese"><img src="__PUBLIC__/assets/images/flags/ja.png" alt=""> Japanese</a></li>
						<li onclick="choose_lang('pt')"><a class="portuguese"><img src="__PUBLIC__/assets/images/flags/pt.png" alt=""> Portuguese</a></li>
						<li onclick="choose_lang('ru')"><a class="russian"><img src="__PUBLIC__/assets/images/flags/ru.png" alt=""> Русский</a></li>
						<li onclick="choose_lang('tr')"><a class="Turkish"><img src="__PUBLIC__/assets/images/flags/tr.png" alt=""> Turkish</a></li>
						<li onclick="choose_lang('vi')"><a class="vietnamese"><img src="__PUBLIC__/assets/images/flags/vi.png" alt=""> Vietnamese</a></li>
						<li onclick="choose_lang('zhtw')"><a class="Traditional Chinese"><img src="__PUBLIC__/assets/images/flags/zhtw.png" alt=""> Traditional</a></li>
						<li onclick="choose_lang('zhcn')"><a class="Simplified Chinese"><img src="__PUBLIC__/assets/images/flags/zhcn.png" alt=""> Simplified</a></li>
						
					</ul>
				</li>