<tr>
											<td>
												<div class="media-left media-middle">
													<a href="#"><img src="__PUBLIC__/assets/images/brands/dribbble.png" class="img-circle img-xs" alt=""></a>
												</div>
												<div class="media-left">
													<div class=""><a href="#" class="text-default text-semibold">Dribbble ads</a></div>
													<div class="text-muted text-size-small">
														<span class="status-mark border-blue position-left"></span>
														20:00 - 21:00
													</div>
												</div>
											</td>
											<td><span class="text-muted">Teamable</span></td>
											<td><span class="text-danger"><i class="icon-stats-decline2 position-left"></i> 9.83%</span></td>
											<td><h6 class="text-semibold">$8,350</h6></td>
											<td><span class="label bg-danger">Closed</span></td>
										</tr>