				<!-- Info blocks -->
				<div class="row">
					<div class="col-md-4">
						<div class="panel">
							<div class="panel-body bg-pink text-center">
								<div class="icon-object border-white-400 text-white"><i class="icon-trophy2"></i></div>
								<h5 class="text-semibold">Cast Your Vote</h5>
								<p class="content-group">Voting System for introducing new coins on the platform. Each vote counts!!</p>
								<p><a href="{:U('Vote/index')}" class="btn bg-white">Vote Now</a></p>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="panel">
							<div class="panel-body bg-purple text-center">
								<div class="icon-object border-alert-400 text-alert"><i class="icon-gift"></i></div>
								<h5 class="text-semibold">Referral Bonus</h5>
								<p class="content-group">Invite your friends and family to our platform, Earn bonus on each activity.</p>
								<p><a href="{:U('Finance/mytj')}" class="btn bg-white">Invite Now</a></p>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="panel">
							<div class="panel-body bg-green text-center has-bg-image">
								<div class="icon-object border-white text-white"><i class="icon-rocket"></i></div>
								<h5 class="text-semibold">Initial Coin Offering</h5>
								<p class="content-group">Invest into emerging ICO's around the globe, Simple step to buy them all.</p>
								<p><a href="{:U('launchpad/index')}" class="btn bg-white">Buy Now</a></p>
							</div>
						</div>
					</div>
				</div>
				<!-- /info blocks -->
