				<!-- Info blocks -->
				<div class="row">
					<div class="col-md-4">
						<div class="panel">
							<div class="panel-body text-center">
								<div class="icon-object border-success-400 text-success"><i class="icon-book"></i></div>
								<h5 class="text-semibold">Knowledge Base</h5>
								<p class="content-group">Wanna Know how it works ? Get started with this guide to start your journey! </p>
								<p><a href="/Article/type/id/3" class="btn bg-success-400">Knowledge</a></p>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="panel">
							<div class="panel-body text-center">
								<div class="icon-object border-warning-400 text-warning"><i class="icon-heart5"></i></div>
								<h5 class="text-semibold">System Health</h5>
								<p class="content-group">We believe in transparency , Our system allows you to know Coin status on exchange instantly</p>
								<p><a href="{:U('Content/health')}" class="btn bg-warning-400">System Health</a></p>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="panel">
							<div class="panel-body text-center">
								<div class="icon-object border-blue text-blue"><i class="icon-reading"></i></div>
								<h5 class="text-semibold">Articles and news</h5>
								<p class="content-group">Take a tour to check our latest articles ,learn more about this site and get daily updates.</p>
								<p><a href="{:U('Article/index')}" class="btn bg-blue">Browse articles</a></p>
							</div>
						</div>
					</div>
				</div>
				<!-- /info blocks -->
