				<!-- Info blocks -->
				<div class="row">
					<div class="col-md-2">
						<div class="panel">
							<div class="panel-body bg-pink text-center">
								<div class="icon-object border-white-400 text-white"><i class="icon-trophy2"></i></div>
								<h5 class="text-semibold">Cast Your Vote</h5>
								<p class="content-group">Voting System for introducing new coins on the platform. Each vote counts!!</p>
								<p><a href="{:U('Vote/index')}" class="btn bg-white">Vote Now</a></p>
							</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="panel">
							<div class="panel-body bg-purple text-center">
								<div class="icon-object border-alert-400 text-alert"><i class="icon-gift"></i></div>
								<h5 class="text-semibold">Referral Bonus</h5>
								<p class="content-group">Invite your friends and family to our platform, Earn bonus on each activity.</p>
								<p><a href="{:U('Finance/mytj')}" class="btn bg-white">Invite Now</a></p>
							</div>
						</div>
					</div>

					<div class="col-md-2">
						<div class="panel">
							<div class="panel-body bg-green text-center has-bg-image">
								<div class="icon-object border-white text-white"><i class="icon-rocket"></i></div>
								<h5 class="text-semibold">Initial Coin Offering</h5>
								<p class="content-group">Invest into emerging ICO's around the globe, Simple step to buy them all.</p>
								<p><a href="{:U('launchpad/index')}" class="btn bg-white">Buy Now</a></p>
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="panel">
							<div class="panel-body text-center">
								<div class="icon-object border-success-400 text-success"><i class="icon-book"></i></div>
								<h5 class="text-semibold">Knowledge Base</h5>
								<p class="content-group">Wanna Know how it works ? Get started with this guide to start your journey! </p>
								<p><a href="/Article/type/id/3" class="btn bg-success-400">Knowledge</a></p>
							</div>
						</div>
					</div>

					<div class="col-md-2">
						<div class="panel">
							<div class="panel-body text-center">
								<div class="icon-object border-warning-400 text-warning"><i class="icon-heart5"></i></div>
								<h5 class="text-semibold">System Health</h5>
								<p class="content-group">We believe in transparency , Our system allows you to know Coin status on exchange instantly</p>
								<p><a href="{:U('Content/health')}" class="btn bg-warning-400">System Health</a></p>
							</div>
						</div>
					</div>

					<div class="col-md-2">
						<div class="panel">
							<div class="panel-body text-center">
								<div class="icon-object border-blue text-blue"><i class="icon-reading"></i></div>
								<h5 class="text-semibold">Articles and news</h5>
								<p class="content-group">Take a tour to check our latest articles ,learn more about this site and get daily updates.</p>
								<p><a href="{:U('Article/index')}" class="btn bg-blue">Browse articles</a></p>
							</div>
						</div>
					</div>

				</div>
				<!-- /info blocks -->
