    <div class="header-banner">
                <div class="nk-banner">
                    <div class="banner banner-mask-fix banner-fs banner-single tc-light">
                        <div class="banner-wrap">
                            <div class="container">
                                
									<gt name="Think.session.userId" value="0">
									<div class="row align-items-center justify-content-center gutter-vr-30px">
                                    <div class="col-lg-10">
									<div class="class">
							<div class="nk-block nk-block-features">
                        <div class="row justify-content-center">
                            <div class="col-lg-4 col-md-4">
                                <div class="feature feature-s8 feature-center card card-full card-md animated bg-dark tc-light" data-animate="fadeInUp" data-delay=".2">
                                    <a href="{:U('Finance/index')}">
									<div class="feature-icon feature-icon-xl">
                                        <i class="fa fa-chart-line fa-3x"></i>
                                    </div>
                                    <div class="feature-text feature-text-s8">
                                        <h4 class="title title-md mb-1 title-thin title-s7">{:L("Finance")}</h4>
                                        <p class=" mgb-s">See all the balances</p>
                                    </div>
									</a>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-4 col-md-4">
                                <div class="feature feature-s8 feature-center card card-full card-md animated bg-dark tc-light" data-animate="fadeInUp" data-delay=".3">
                                 <a href="{:U('Finance/myzr')}">
								 <div class="feature-icon feature-icon-xl">
                                        <i class="fa fa-wallet fa-3x"></i>
                                    </div>
                                    <div class="feature-text feature-text-s8">
                                        <h4 class="title title-md mb-1 title-thin title-s7">{:L("Deposit")}</h4>
                                        <p class=" mgb-s">Cryptocurrency Deposits</p>
                                   </div>
								   </a>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-4 col-md-4">
                                <div class="feature feature-s8 feature-center card card-full card-md animated bg-dark tc-light" data-animate="fadeInUp" data-delay=".4">
							<a href="{:U('User/index')}">                                 
								 <div class="feature-icon feature-icon-xl">
                                        <i class="fa fa-user-circle fa-3x"></i>
                                    </div>
                                    <div class="feature-text feature-text-s8">
                                        <h4 class="title title-md mb-1 title-thin title-s7">{:L("Account")}</h4>
                                        <p class=" mgb-s">Manage your account security</p>
                                    </div>
							</a>				
							   </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block @e -->
					</div>
					<div class="row justify-content-center">
                            <div class="col-6">
                                <div class="feature feature-s8 feature-center card card-full card-md animated bg-info tc-light" data-animate="fadeInUp" data-delay=".2">
                                    <div class="feature-text feature-text-s8">
                                        <h4 class="title title-md mb-1 title-thin title-s7">{$userCoin_top['allusd']}</h4>
                                        <p class=" mgb-s">{:L("Balance")} {:SYSTEMCURRENCY}</p>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-6">
                                <div class="feature feature-s8 feature-center card card-full card-md animated bg-success tc-light" data-animate="fadeInUp" data-delay=".3">
                                    <div class="feature-text feature-text-s8">
                                       <h4 class="title title-md mb-1 title-thin title-s7">{$userCoin_top['usdd']}</h4>
                                        <p class=" mgb-s">{:l('FREEZE')} {:SYSTEMCURRENCY}</p>
                                   </div>
                                </div>
                            </div><!-- .col -->

                        </div><!-- .row -->
					
                                </div>
								</div>
										<else/>
<div class="row gutter-vr-30px">										
										<div class="col-lg-8">
									<div class="class">

										<div class="banner-caption wide-auto text-center text-lg-left">
                                            <div class="cpn-head mt-0">
                                                <h1 class="title title-xl-2 title-semibold animated" data-animate="fadeInUp" data-delay="1.35">Trade with <span class="text-primary">{:SHORT_NAME}</span>. Buy and sell Cryptocurrency</h1>
                                            </div>
                                            <div class="cpn-text cpn-text-s1">
                                                <p class="lead animated" data-animate="fadeInUp" data-delay="1.45">Trade cryptocurrencies in minutes</p>
                                            </div>
                                            <div class="cpn-btns">
                                                <ul class="btn-grp animated" data-animate="fadeInUp" data-delay="1.55">
                                                    <li><a href="{:U('Login/register')}" class="btn btn-md btn-grad btn-grad-alternet">Get Started</a></li>
                                                    <li><a href="{:U('Login/login')}" class="btn btn-md btn-info btn-outline">Sign in</a></li>
                                                </ul>
                                            </div>
                                        </div>
									</div>
                                </div>	
								</div>
							</gt>
                                    
                            
                        </div>
                    </div>
                </div>

            </div>
		