    <div class="header-banner">
                <div class="nk-banner">
                    <div class="banner banner-mask-fix banner-fs banner-single tc-light">
                        <div class="banner-wrap">
                            <div class="container">
                                <div class="row align-items-center justify-content-center gutter-vr-30px">
                                    <div class="col-lg-4 order-lg-last">
                                        
                                    </div>
                                    <div class="col-lg-8">
									<div class="class">
									<gt name="Think.session.userId" value="0">
									<div class="token-status bg-theme">
									<h4 class="title title-md">Hello  {$Think.session.userName}</h4>
									<a href="/Finance/myzr" class="btn btn-info btn-sm">{:l('Deposit')}</a>&nbsp;
									<a href="/Finance/" class="btn btn-success btn-sm">{:l('Finance')}</a>&nbsp;
									<a href="/User/" class="btn btn-warning btn-sm">{:l('Account')}</a>
									</div>
									<div class="bonus bg-theme">
									<div class="bonus-info"><h6>{$userCoin_top['usd']} </h6><div class="bonus-date">{:l('Balance')}</div></div>
									<div class="bonus-info"><h6>{$userCoin_top['usdd']}</h6><div class="bonus-date">{:l('FREEZE')}</div></div>
									<div class="bonus-info"><h6>{$userCoin_top['allusd']}</h6><div class="bonus-date">{:l('Total')}</div><span class="bonus-badge badge-xs">All</span></div>
									
										<else/>
										<div class="banner-caption wide-auto text-center text-lg-left">
                                            <div class="cpn-head mt-0">
                                                <h1 class="title title-xl-2 title-semibold animated" data-animate="fadeInUp" data-delay="1.35">Trade with <span class="text-primary">{:SHORT_NAME}</span>. Buy and sell Cryptocurrency</h1>
                                            </div>
                                            <div class="cpn-text cpn-text-s1">
                                                <p class="lead animated" data-animate="fadeInUp" data-delay="1.45">Trade cryptocurrencies in minutes</p>
                                            </div>
                                            <div class="cpn-btns">
                                                <ul class="btn-grp animated" data-animate="fadeInUp" data-delay="1.55">
                                                    <li><a href="{:U('Login/register')}" class="btn btn-md btn-grad btn-round">Sign up to join</a></li>
                                                    <li><a href="{:U('Trade/index')}"" class="btn btn-md btn-grad btn-grad-alternet btn-round">Buy Cryptocurrency</a></li>
                                                </ul>
                                            </div>
                                            <div class="cpn-social">
                                                <ul class="social">
                                                    <li class="animated" data-animate="fadeInUp" data-delay="1.65"><a href="#"><em class="social-icon fab fa-facebook-f"></em></a></li>
                                                    <li class="animated" data-animate="fadeInUp" data-delay="1.7"><a href="#"><em class="social-icon fab fa-twitter"></em></a></li>
                                                    <li class="animated" data-animate="fadeInUp" data-delay="1.75"><a href="#"><em class="social-icon fab fa-youtube"></em></a></li>
                                                    <li class="animated" data-animate="fadeInUp" data-delay="1.8"><a href="#"><em class="social-icon fab fa-github"></em></a></li>
                                                    <li class="animated" data-animate="fadeInUp" data-delay="1.85"><a href="#"><em class="social-icon fab fa-bitcoin"></em></a></li>
                                                    <li class="animated" data-animate="fadeInUp" data-delay="1.9"><a href="#"><em class="social-icon fab fa-medium-m"></em></a></li>
                                                </ul>
                                            </div>
                                        </div>
										
										</gt>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
		