            <section class="section bg-theme tc-light" id="ecosystems">

                <div class="container">
                    <div class="row justify-content-center text-center">
                        <div class="col-lg-6">
                            <div class="section-head section-head-s2">
                                <h2 class="title title-xl animated" data-animate="fadeInUp" data-delay="0.1" title="Core Ecosystems">ECOSYSTEMS</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container container-xxl">
                    <div class="nk-block">
                        <div class="row text-center align-items-lg-start gutter-vr-40px">
                            <div class="col-lg-3 col-sm-6">
                                <div class="feature feature-s6 feature-s6-1 animated" data-animate="fadeInUp" data-delay="0.3">
                                    <div class="feature-text">
                                        <h5 class="title title-sm ttu">Full Featured Exchange</h5>
                                        <p>Exchange that provides buying selling cryptocurrencies againt other fiat and cryptos.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="feature feature-s6 feature-s6-2 animated" data-animate="fadeInUp" data-delay="0.4">
                                    <div class="feature-text">
                                        <h5 class="title title-sm ttu">KYC/AML Complinces</h5>
                                        <p>On {:SHORT_NAME} KYC and AML go hand-in-hand in helping to prevent fraud and other illicit activity. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="feature feature-s6 feature-s6-3 animated" data-animate="fadeInUp" data-delay="0.5">
                                    <div class="feature-text">
                                        <h5 class="title title-sm ttu">Blockchain availablity</h5>
                                        <p>{:SHORT_NAME} is integrated with various blockchains to detect your deposits instantly.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="feature feature-s6 feature-s6-4 animated" data-animate="fadeInUp" data-delay="0.6">
                                    <div class="feature-text">
                                        <h5 class="title title-sm ttu">Not just trading</h5>
                                        <p>Invest in Deposits,IEO's, Vote for coins, Earn from faucets,Referrals and many more.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-image bg-contain bg-bottom-center bg-ecosystems animated d-none d-sm-block" data-animate="fadeInUp" data-delay="0.2">
                            <img src="__PUBLIC__/vuetrade/images/globe-particle.png" alt="globe">
                        </div>
                    </div>
                </div>

            </section>