<div class="section section-pad section-bg-alt" id="why">
        <div class="background-shape bs-reverse"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-head-s6">
                        <h6 class="heading-sm-s2 animated fadeInUp" data-animate="fadeInUp" data-delay=".1" style="visibility: visible; animation-delay: 0.1s;">How it work</h6>
                        <h2 class="section-title-s6 animated fadeInUp" data-animate="fadeInUp" data-delay=".2" style="visibility: visible; animation-delay: 0.2s;">Best Features</h2>
                        <p class="animated fadeInUp" data-animate="fadeInUp" data-delay=".3" style="visibility: visible; animation-delay: 0.3s;">The ICO Crypto Team combines a passion for esports, industry experise &amp; proven record in finance, development, marketing.</p>
                    </div>
                    <div class="gaps size-2x"></div>
                    <div class="gaps size-1x d-none d-md-block"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 res-m-bttm">
                    <div class="features-box-s4 animated fadeInUp" data-animate="fadeInUp" data-delay=".4" style="visibility: visible; animation-delay: 0.4s;">
                        <div class="features-icon-s4"><img src="images/lungwort/icon-a.png" alt="icon"></div>
                        <h5 class="features-title-s4">Ultra Fast &amp; Secure</h5><span class="features-subtitle-s4">Instant Private Transaction</span>
                        <p>Millions of datasets indexedin culpa qui officia id est laborum</p><a href="#" class="features-action"><em class="ti ti-arrow-right"></em></a></div>
                </div>
                <div class="col-md-4 res-m-bttm">
                    <div class="features-box-s4 animated fadeInUp" data-animate="fadeInUp" data-delay=".5" style="visibility: visible; animation-delay: 0.5s;">
                        <div class="features-icon-s4"><img src="images/lungwort/icon-b.png" alt="icon"></div>
                        <h5 class="features-title-s4">Highly Scalable</h5><span class="features-subtitle-s4">Limitless Applications</span>
                        <p>A proprietary version sunt in culpa qui officia deserunt mollit.</p><a href="#" class="features-action"><em class="ti ti-arrow-right"></em></a></div>
                </div>
                <div class="col-md-4">
                    <div class="features-box-s4 animated fadeInUp" data-animate="fadeInUp" data-delay=".6" style="visibility: visible; animation-delay: 0.6s;">
                        <div class="features-icon-s4"><img src="images/lungwort/icon-c.png" alt="icon"></div>
                        <h5 class="features-title-s4">Reliable &amp; Low Cost</h5><span class="features-subtitle-s4">Instant Private Transaction</span>
                        <p>A unique community enim ad minima veniam, quis nostrum.</p><a href="#" class="features-action"><em class="ti ti-arrow-right"></em></a></div>
                </div>
            </div>
            <div class="gaps size-2x"></div>
            <div class="gaps size-1x d-none d-md-block"></div>
            <div class="row text-center">
                <div class="col-md-12">
                    <ul class="btns animated" data-animate="fadeInUp" data-delay=".7">
                        <li><a href="#" class="btn">Get a Wallet</a></li>
                        <li><a href="#" class="btn btn-outline">Download Whitepaper</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>