<div class="nk-block nk-block-features">
                        <div class="row justify-content-center">
                            <div class="col-lg-4 col-md-4">
                                <div class="feature feature-s8 feature-center card card-full card-md animated" data-animate="fadeInUp" data-delay=".2">
                                    <div class="feature-icon feature-icon-xl">
                                        <img src="images/icons/icon-h-nobg.png" alt="feature">
                                    </div>
                                    <div class="feature-text feature-text-s8">
                                        <h4 class="title title-md mb-1 title-thin title-s7">Ultra Fast &amp; Secure</h4>
                                        <p class=" mgb-s">Instant Private Transaction</p>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-4 col-md-4">
                                <div class="feature feature-s8 feature-center card card-full card-md animated" data-animate="fadeInUp" data-delay=".3">
                                    <div class="feature-icon feature-icon-xl">
                                        <img src="images/icons/icon-i-nobg.png" alt="feature">
                                    </div>
                                    <div class="feature-text feature-text-s8">
                                        <h4 class="title title-md mb-1 title-thin title-s7">Highly Scalable</h4>
                                        <p class=" mgb-s">Limitless Applications</p>
                                   </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-4 col-md-4">
                                <div class="feature feature-s8 feature-center card card-full card-md animated" data-animate="fadeInUp" data-delay=".4">
                                    <div class="feature-icon feature-icon-xl">
                                        <img src="images/icons/icon-j-nobg.png" alt="feature">
                                    </div>
                                    <div class="feature-text feature-text-s8">
                                        <h4 class="title title-md mb-1 title-thin title-s7">Reliable &amp; Low Cost</h4>
                                        <p class=" mgb-s">Instant Private Transaction</p>
                                    </div>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block @e -->