<script>
ws = new WebSocket("{:SOCKET_WS_URL}");
ws.onopen = function(e){
        //console.info(e);
        ws.send('Initialize WS');//Is equivalent to sending an initialization message
        console.info("Send a heartbeat packet string to the server");
     
}
 ws.onmessage = function(e){

        // json data into js object
        var data = JSON.parse(e.data);
//        console.log(data);

        var type = data.type || '';

        switch(type){
		   case 'newprice':
                ws_newprice(data)
                break		
            case 'break':
           //     console.log(data.info);
                break
            default :
             //   console.log(data);

        }
    };	
	function toNum(num, round) {
        return Math.round(num * Math.pow(10, round) - 1) / Math.pow(10, round);
    }

	function ws_newprice(data) {
		  if(decimals == null){
			var decimals=6;
			}
				
			if($('#m_'+data.market).length){
			//	console.log(data);
				
					var elementname= "#m_"+data.market;
					if(data.change>0){var changeclass="buy"}
					if(data.change<0){var changeclass="sell"}
					$(elementname+" td:eq(6)").removeClass('buy');
					$(elementname+" td:eq(6)").removeClass('sell');
					$(elementname+" td:eq(6)").addClass(changeclass);
					elementupdate(elementname+" td:eq(6)",toNum(data.change,2)+'%');
					elementupdate(elementname+" td:eq(5)",toNum(data.amount,3));
					elementupdate(elementname+" td:eq(4)",amountToString(data.volume,2));
					elementupdate(elementname+" td:eq(3)",toNum(data.sell_price,6));
					elementupdate(elementname+" td:eq(2)",toNum(data.buy_price,6));

					if(data.new_price){
					elementupdate(elementname+" td:eq(1)",toNum(data.new_price,6));
					}
			}		
    }
	function amountToString(count,decimal=3) {
		var countokuu = (count / 1000000000).toFixed(decimal);
		var countwan  = (count / 1000000).toFixed(decimal);
		if (count > 1000000000)
			return countokuu.substring(0, countokuu.lastIndexOf('.') + decimal) + ' bl';
		if (count > 1000000)
			return countwan.substring(0, countwan.lastIndexOf('.') + decimal) + ' ml';
		else
			return count;
			
	}
function elementupdate(idselector,content){
	$(idselector).html(content);
}
</script>