<div class="section section-pad section-bg" id="why">
        <div class="container">
            <div class="row">
                
		<script src="__PUBLIC__/Home/js/widget/div.js"></script>
<div class="col-md-3 pt-2 col-12"><draw-price-bars  coin-id="bitcoin" currency="usd" height="180" locale="en"></draw-price-bars></div>

<div class="col-md-3 pt-2  col-12"><draw-price-bars  coin-id="ethereum" currency="usd" height="180" locale="en"></draw-price-bars></div>

<div class="col-md-3 pt-2  col-12"><draw-price-bars  coin-id="ripple" currency="usd" height="180" locale="en"></draw-price-bars></div>

<div class="col-md-3 pt-2  col-12"><draw-price-bars  coin-id="monero" currency="usd" height="180" locale="en"></draw-price-bars></div>

</div>
            </div>
            
        </div>
    </div>