<include file="Public:header" />
<div class="autobox">
<!-- breadcrumb component -->
<div class="breadcrumb-line breadcrumb-line-component content-group-lg">
						<ul class="breadcrumb">
							<li><a href="/"><i class="icon-home2 position-left"></i> {:l('HOME')}</a></li>

							<li class="active"><a href="#" class=""> Upgrade </a></li>
							
						</ul>
					</div>
<!-- /breadcrumb component -->
    <div class="assets_center clear po_re ">
	<div class="container col-sm-12 right bg_w mh1500">
				<div class="content-group text-center">
								<a href="#" class="display-inline-block">
									<img src="/Upload/article/{$data['img']}" class="img-responsive" alt="" style="max-width:400px;text-align:center">
								</a>
							</div>
            <h1 class="h1news">{$data.title}</h1>
            <div class="new_list">
                <div class="rightcontent">
                    
					
                    <div class="articletext " style="max-width: 900px;overflow: hidden;"><p>{$data['content']}</p><p>										</p></div>
                </div>
            </div>
    </div>	
    </div>
</div>
<include file="Public:footer_minimal"/>