<include file="Public:header"/>
<script type="text/javascript" src="__PUBLIC__/layer/laydate/laydate.js"></script>
<div id="main-content" class="col-sm-10">
	<div id="top-alert" class="fixed alert alert-error" style="display: none;">
		<button class="close fixed" style="margin-top: 4px;">&times;</button>
		<div class="alert-content">Warnings</div>
	</div>
	<div id="main" class="main">
		<div class="main-title-h">
			<span class="h1-title"><a href="{:U('User/bank')}">Withdraw Address</a> >></span>
			 <span class="h1-title"><empty name="data">Add Address<else/>Edit Address </empty></span>
		</div>
		<div class="tab-wrap">
			<div class="tab-content">
				<form id="form" action="{:U('User/bankEdit')}" method="post" class="form-horizontal">
					<div id="tab" class="tab-pane in tab">
						<div class="form-item cf">
							<table>
								<tr class="controls">
									<td class="item-label">UserId :</td>
									<td>
										<input type="text" class="form-control input-10x" name="userid" value="{$data.userid}">
									</td>
									<td class="item-note"></td>
								</tr>
								<tr class="controls" style="display:none;">
									<td class="item-label">Remarks Name :</td>
									<td>
										<input type="text" class="form-control input-10x" name="name" value="{$data.name}">
									</td>
									<td class="item-note"></td>
								</tr>
								<tr class="controls" >
									<td class="item-label">Bank :</td>
									<td>
										<input type="text" class="form-control input-10x" name="bank" value="{$data.bank}">
									</td>
									<td class="item-note"></td>
								</tr>
								<tr class="controls" style="display:none;">
									<td class="item-label">Opening provinces :</td>
									<td>
										<input type="text" class="form-control input-10x" name="bankprov" value="{$data.bankprov}">
									</td>
									<td class="item-note"></td>
								</tr>
								<tr class="controls" style="display:none;">
									<td class="item-label">Cities account :</td>
									<td>
										<input type="text" class="form-control input-10x" name="bankcity" value="{$data.bankcity}">
									</td>
									<td class="item-note"></td>
								</tr>
								<tr class="controls" >
									<td class="item-label">Account Branch :</td>
									<td>
										<input type="text" class="form-control input-10x" name="bankaddr" value="{$data.bankaddr}">
									</td>
									<td class="item-note"></td>
								</tr>
								<tr class="controls">
									<td class="item-label">Alipay account :</td>
									<td>
										<input type="text" class="form-control input-10x" name="bankcard" value="{$data.bankcard}">
									</td>
									<td class="item-note"></td>
								</tr>
								<tr class="controls">
									<td class="item-label">add time :</td>
									<td>
										<input type="text" class="form-control input-10x" name="addtime" value="{$data['addtime']|addtime}" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
									</td>
									<td class="item-note"></td>
								</tr>
								<tr class="controls">
									<td class="item-label">Status :</td>
									<td><select name="status" class="form-control input-10x">
										<option value="1"
										<eq name="data.status" value="1">selected</eq>
										>Enabled</option>
										<option value="0"
										<eq name="data.status" value="0">selected</eq>
										>Disabled</option>
									</select></td>
									<td class="item-note"></td>
								</tr>
								<tr class="controls">
									<td class="item-label"></td>
									<td>
										<div class="form-item cf">
											<button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">Submit</button>
											<a class="btn btn-return" href="{$Think.server.HTTP_REFERER}">Back</a>
											<notempty name="data.id"><input type="hidden" name="id" value="{$data.id}"/>
											</notempty>
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	//submit Form
	$('#submit').click(function () {
		$('#form').submit();
	});
</script>
<include file="Public:footer"/>
<block name="script">
	<script type="text/javascript" charset="utf-8">
		//Highlight navigation
		highlight_subnav("{:U('User/bank')}");
	</script>
</block>