<include file="Public:header"/>
<div id="main-content" class="col-sm-10">
	<div id="top-alert" class="fixed alert alert-error" style="display: none;">
		<button class="close fixed" style="margin-top: 4px;">&times;</button>
		<div class="alert-content">Warnings</div>
	</div>
	<div id="main" class="main">
		<div class="main-title-h">
			<span class="h1-title">User Management   </span>
		</div>
		<div class="cf">
			<div class="fl">
				<select style="width: 160px; float: left; margin-right: 10px;" name="awardid" class="ids form-control">
					<option value="0"> No prizes</option>
					<option value="1">Apple computer</option>
					<option value="2">Huawei cell phone</option>
					<option value="3">1000USD in cash</option>
					<option value="4">Millet bracelet</option>
					<option value="5">100USD in cash</option>
					<option value="6">10USD in cash</option>
					<option value="7">1USD in cash</option>
					<option value="9">1USD in cash</option>
				</select>
				<button class="ajax-post btn  btn-info " url="{:U('User/status',array('type'=>'award'))}" target-form="ids">Setting awards</button>
			<a class="btn btn-success  " href="{:U('User/edit')}">Add</a>

				<button class="ajax-post btn  btn-info " url="{:U('User/status',array('type'=>'idauth'))}" target-form="ids">Certify KYC</button>
				<button class="ajax-post btn  btn-warning  ajax-post" url="{:U('User/status',array('type'=>'notidauth'))}" target-form="ids">Disapprove KYC</button>

				<button class="ajax-post btn  btn-info " url="{:U('User/status',array('type'=>'resume'))}" target-form="ids">Enable</button>
				<button class="ajax-post btn  btn-warning  ajax-post" url="{:U('User/status',array('type'=>'forbid'))}" target-form="ids">Disable</button>
				<button class="btn ajax-post confirm btn-danger " url="{:U('User/status',array('type'=>'del'))}" target-form="ids">Delete</button>
				
			</div>

			<div class="search-form fr cf">
				<div class="sleft">
					<form name="formSearch" id="formSearch" method="get" name="form1">
						<select style="width: 160px; float: left; margin-right: 10px;" name="status" class="form-control">
							<option value=""
							<empty name="Think.get.status">selected</empty>
							>All states</option>
							
							
							<option value="6"
							<eq name="Think.get.status" value="6">selected</eq>
							>Waiting for certification</option>
							
							<option value="5"
							<eq name="Think.get.status" value="5">selected</eq>
							>By certification</option>
							
							
							<option value="3"
							<eq name="Think.get.status" value="3">selected</eq>
							>We have been winning</option>
							
							<option value="4"
							<eq name="Think.get.status" value="4">selected</eq>
							>Not winning</option>
							
							<option value="1"
							<eq name="Think.get.status" value="1">selected</eq>
							>Frozen state</option>
							<option value="2"
							<eq name="Think.get.status" value="2">selected</eq>
							>Normal status</option>
							
							

							
						</select>
						<select style=" width: 160px; float: left; margin-right: 10px;" name="field" class="form-control">
							<option value="awardid"
							<empty name="Think.get.field">selected</empty>
							>prizeID</option>
							<option value="username"
							<eq name="Think.get.field" value="username">selected</eq>
							>Username</option>
							<option value="cellphone"
							<eq name="Think.get.field" value="cellphone">selected</eq>
							>{:l('PHONE_NUMBER')}</option>
							<option value="truename"
							<eq name="Think.get.field" value="truename">selected</eq>
							>Truename</option>
							<option value="idcard"
							<eq name="Think.get.field" value="idcard">selected</eq>
							>ID number</option>
						</select>
						<input type="text" name="name" class="search-input form-control  " value="{$Think.get.name}" placeholder="Enter text to search" style="">
						<a class="sch-btn" href="javascript:;" id="search"> <i class="btn-search"></i> </a>
					</form>
					<script>
						//Search function
						$(function () {
							$('#search').click(function () {
								$('#formSearch').submit();
							});
						});
						//Enter search
						$(".search-input").keyup(function (e) {
							if (e.keyCode === 13) {
								$("#search").click();
								return false;
							}
						});
					</script>
				</div>
			</div>
		</div>
		<div class="data-table table-striped">
			<table class="">
				<thead>
				<tr>
					<th class="row-selected row-selected">
						<input class="check-all" type="checkbox"/>
					</th>
					<th class="">ID</th>
					<th class="">Username</th>
					<th class="">Email</th>
					<th class="">Mobile</th>
					<th class="">ID</th>
					<th class="">Realname</th>
					<th class="">KYC Status</th>
					<th class="">Reg Time</th>
					<th class="">Status</th>
					<th class="">Option</th>
				</tr>
				</thead>
				<tbody>
				<notempty name="list">
					<volist name="list" id="vo">
						<tr>
							<td>
								<input class="ids" type="checkbox" name="id[]" value="{$vo.id}"/>
							</td>
							<td>{$vo.id}</td>
							<td>{$vo.username}</td>
							<td><if condition="$vo['email']">{$vo.email}<else/>-</if></td>
							<td><if condition="$vo['cellphone']">{$vo.cellphones}-{$vo.cellphone}<else/>-</if></td>
							<td>
								<neq name="vo.idcardimg1" value="">
									<font color='green'>Uploaded</font>
								<else/>
									<font color='red'>Not uploaded</font>
								</neq>
							</td>
							<td>{$vo.truename}</td>
							<td>
							
								<eq name="vo.idcardauth" value="0"><font color='red'>Failed</font></eq>
								<eq name="vo.idcardauth" value="1">Passed</eq>
							
							
							</td>
							<td>{$vo.addtime|addtime}</td>
							<td>
								<eq name="vo.status" value="0">Disabled</eq>
								<eq name="vo.status" value="1">Enabled</eq>
							</td>
							<td>
								<a href="{:U('User/edit?id='.$vo['id'])}" class="btn btn-primary btn-xs" >Edit</a>
							</td>
						</tr>
					</volist>
					<else/>
					<td colspan="12" class="text-center">No contents!</td>
				</notempty>
				</tbody>
			</table>
			<div class="page">
				<div>{$page}</div>
			</div>
		</div>
	</div>
</div>
<include file="Public:footer"/>
<block name="script">
	<script type="text/javascript" charset="utf-8">
		//Highlight navigation
		highlight_subnav("{:U('User/index')}");
	</script>
</block>