<include file="Public:header"/>
<div id="main-content" class="col-sm-10">
    <div id="top-alert" class="fixed alert alert-error" style="display: none;">
        <button class="close fixed" style="margin-top: 4px;">&times;</button>
        <div class="alert-content">Warnings</div>
    </div>
    <div id="main" class="main">
        <div class="main-title-h" style="font-size: 24px;">
            <span class="h1-title">Recharge amount</span>
            <present name="Think.get.name">
                <i class="ca"></i>[<a href="{:U('Topup/type')}"> Amount List</a> ]
            </present>
        </div>
        <div class="cf">
            <div class="fl">
                <a class="btn btn-success navbar-btn btn-sm" href="{:U('Topup/editCoin')}">Edit</a>
                <button class="btn ajax-post btn-info navbar-btn btn-sm" url="{:U('Topup/resumeCoin')}" target-form="ids">Enable</button>
                <button class="btn ajax-post btn-warning navbar-btn btn-sm" url="{:U('Topup/forbidCoin')}" target-form="ids">Disable</button>
                <button class="btn ajax-post confirm btn-danger navbar-btn btn-sm" url="{:U('Topup/deleteCoin')}" target-form="ids">Delete</button>
            </div>
            <div class="search-form fr cf">

            </div>
        </div>
        <div class="data-table table-striped">
            <table class="">
                <thead>
                <tr>
                    <th class="row-selected row-selected">
                        <input class="check-all" type="checkbox"/>
                    </th>
                    <th class="">ID</th>
                    <th class="">Currencies</th>
                    <th class="">price</th>
                    <th class="">Status</th>
                    <th class="">Option</th>
                </tr>
                </thead>
                <tbody>
                <notempty name="list">
                    <volist name="list" id="vo">
                        <tr>
                            <td>
                                <input class="ids" type="checkbox" name="id[]" value="{$vo.id}"/>
                            </td>
                            <td>{$vo.id}</td>
                            <td>{$vo.coinname}</td>
                            <td>{$vo.price}</td>
                            <td>
                                <eq name="vo['status']" value="0">Disable</eq>
                                <eq name="vo['status']" value="1">Enable</eq>
                            </td>
                            <td>
                                <a href="{:U('Topup/editCoin?id='.$vo['id'])}" class="btn btn-primary btn-xs">Edit</a>

                                <eq name="vo['status']" value="0">
                                    <a href="{:U('Topup/resumeCoin?id='.$vo['id'])}" class="btn btn-info btn-xs ajax-get confirm">Enable</a>
                                </eq>
                                <eq name="vo['status']" value="1">
                                    <a href="{:U('Topup/forbidCoin?id='.$vo['id'])}" class="btn btn-warning btn-xs ajax-get confirm">Disable</a>
                                </eq>

                                <a href="{:U('Topup/deleteCoin?id='.$vo['id'])}" class="btn btn-danger btn-xs ajax-get confirm">delete</a>
                            </td>
                        </tr>
                    </volist>
                    <else/>
                    <td colspan="12" class="text-center">No contents!</td>
                </notempty>
                </tbody>
            </table>
            <div class="page">
                <div>{$page}</div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //Highlight the main navigation
    $('.Adver-box').addClass('current');
    //Highlight side navigation
    $('.Adver-index').addClass('current');
</script><!-- /Content Area -->
<include file="Public:footer"/>