<include file="Public:header"/>
<div id="main-content" class="col-sm-10">
    <div id="top-alert" class="fixed alert alert-error" style="display: none;">
        <button class="close fixed" style="margin-top: 4px;">&times;</button>
        <div class="alert-content">Warnings</div>
    </div>
    <div id="main" class="main">
        <div class="main-title-h">
            <span class="h1-title"><a href="{:U('Topup/coin')}">payment method</a> >></span>
            <span class="h1-title"><empty name="data">Add payment methods
                <else/>
                Edit payment method
            </empty></span>
        </div>
        <div class="tab-wrap">
            <div class="tab-content">
                <form id="form" action="{:U('Topup/editCoin')}" method="post" class="form-horizontal" enctype="multipart/form-data">
                    <div id="tab" class="tab-pane in tab">
                        <div class="form-item cf">
                            <table>
                                <tr class="controls">
                                    <td class="item-label">Payment Currency :</td>
                                    <td>
                                        <select name="coinname" class="input-small">
                                            <volist name="C['coin_list']" id="v">
                                                <option value="{$v['name']}"
                                                <eq name="data['coinname']" value="$v['name']">selected</eq>
                                                >{$v['title']}</option>
                                            </volist>
                                        </select>
                                    </td>
                                    <td class="item-note"></td>
                                </tr>
                                <tr class="controls">
                                    <td class="item-label">Payment ratio :</td>
                                    <td>
                                        <input type="text" class="form-control" name="price" value="{$data.price}">
                                    </td>
                                    <td class="item-note">Leave blank for the marketThe latest transaction price, Fill the digital representation 1 More Digital Assets equal How many USD</td>
                                </tr>
                                <tr class="controls">
                                    <td class="item-label">Status :</td>
                                    <td>
                                        <select name="status" class="input-small">
                                            <option value="1"
                                            <eq name="data.status" value="1">selected</eq>
                                            >Available                                        </option>
                                            <option value="0"
                                            <eq name="data.status" value="0">selected</eq>
                                            >Disable                                        </option>
                                        </select>
                                    </td>
                                    <td class="item-note"></td>
                                </tr>
                                <tr class="controls">
                                    <td class="item-label"></td>
                                    <td>
                                        <div class="form-item cf">
                                            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">Submit</button>
                                            <a class="btn btn-return" href="{$Think.server.HTTP_REFERER}">Back</a>
                                            <notempty name="data.id">
                                                <input type="hidden" name="id" value="{$data.id}"/>
                                            </notempty>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </form>
                <script type="text/javascript">
                    //submit Form
                    $('#submit').click(function () {
                        $('#form').submit();
                    });
                </script>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        //Highlight the main navigation
        $('.Adver-box').addClass('current');
        //Highlight side navigation
        $('.Adver-index').addClass('current');
    });
</script>
<include file="Public:footer"/>