<include file="Public:header" />
<div id="main-content" class="col-sm-10">
 <div id="top-alert" class="fixed alert alert-error" style="display: none;">
  <button class="close fixed" style="margin-top: 4px;">&times;</button>
  <div class="alert-content">Warnings</div>
 </div>
 <div id="main" class="main">
  <div class="main-title-h">
   <span class="h1-title">{$Title}</span>
   <notempty name="name"> <span class="h2-title">>><a href="{:U('Invit/index')}">Giftcard list</a></span> </notempty>
  </div>
  <div class="cf">
   <div class="fl">
				<button class="ajax-post btn btn-info " url="{:U('Giftcard/status',array('type'=>'active'))}" target-form="ids">Enable</button>
				<button class="ajax-post btn btn-warning confirm" url="{:U('Giftcard/status',array('type'=>'consumed'))}" target-form="ids">Used</button>
				<button class="ajax-post btn btn-info" url="{:U('Giftcard/status',array('type'=>'inactive'))}" target-form="ids">Disable</button>
				<button class="ajax-post btn btn-danger confirm" url="{:U('Giftcard/status',array('type'=>'delete'))}" target-form="ids">Delete</button>
			</div>
   
   </div>
   <div class="search-form fr cf">
    <div class="sleft">
     <form name="formSearch" id="formSearch" method="get" name="form1" action="{:U('Giftcard/index')}">
      <input type="text" name="publiccode" class="search-input" value="{$publiccode}" placeholder="Please enter Public code"> <a class="sch-btn" href="javascript:;" id="search"><i class="btn-search"></i></a>
     </form>
     <script>
						//Search function
						$(function(){
							$('#search').click(function(){
								$('#formSearch').submit();
							});
						});
						//Enter search
						$(".search-input").keyup(function(e){
							if(e.keyCode===13){
								$("#search").click();
								return false;
							}
						});
					</script>
    </div>
   </div>

  <div class="data-table table-striped">
   <table class="">
    <thead>
     <tr>
      <th class="row-selected row-selected"><input class="check-all" type="checkbox" /></th>
      <th class="">ID</th>
      <th class="">Owner</th>
	  
      <th class="">Value</th>
      <th class="">CardImg</th>
      <th class="">Public Code</th>
      <th class="">SecretCode</th>
      
      <th class="">Created</th>
	  <th class="">Consumer</th>
	  <th class="">Used</th>
	  <th class="">Status</th>
     </tr>
    </thead>
    <tbody>
     <notempty name="list"> <volist name="list" id="vo">
     <tr>
      <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
      <td>{$vo.id}</td>
      <td>{$vo['owner_name']}</td>
      <td>{$vo['value']*1} {$vo.coin}</td>
      <td><img src="{$vo.image}" width="30px" alt=""/></td>
      <td>{$vo.public_code}</td>
      <td>{$vo['secret']}</td>
      
      <td>{$vo.addtime|addtime}</td>
	  <td>{$vo['consumer_name']}</td>
	  <td>{$vo.usetime|addtime}</td>
	  <td>
	  <switch name="vo.status">
    <case value="0">Invalid</case>
    <case value="1">Active</case>
	<case value="2">Used</case>
	<default />
	</switch>
	  </td>
     </tr>
     </volist> <else />
     <td colspan="12" class="text-center">No contents!</td>
     </notempty>
    </tbody>
   </table>
   <div class="page">
    <div>{$page}</div>
   </div>
  </div>
 </div>
</div>
  </div>
<script type="text/javascript">
	$(function(){
		//Highlight the main navigation
		$('.invit-box').addClass('current');
		//Highlight side navigation
		$('.invit-index').addClass('current');
	});
</script>
<include file="Public:footer" />