<!-- Footer Start -->
	<footer>
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="footer-blocks">
						<div class="block">
							<img src="__UPLOAD__/public/{$C['footer_logo']}" alt="{:SHORT_NAME}" class="img-fluid m-b-15">
							<h4>{$C['web_description']}</h4>
						</div>
					</div>
				</div>
			</div>

			<div class="row align-items-center footer-bottom">
				<div class="col-12 col-sm-4">
			
					<div class="clearfix"></div>
					{:C('web_icp')}
				</div>
				<div class="col-12 col-sm-8">
					<ul class="list-inline footer-bottom-links">
						<li class="list-inline-item">
							{:l("Link Exchange")} :
						</li>
						<li class="list-inline-item"><a href="#">Link</a></li>
						<li class="list-inline-item"><a href="#">Link</a></li>
						<li class="list-inline-item"><a href="#">Link</a></li>
						<li class="list-inline-item"><a href="#">Link</a></li>
						<li class="list-inline-item"><a href="#">Link</a></li>
						<li class="list-inline-item"><a href="#">Link</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer End -->
</main>