<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{:C('web_title')}</title>
<meta name="Keywords" content="{:C('web_keywords')}">
<meta name="Description" content="{:C('web_description')}">
<meta name="author" content="static">
<meta name="coprright" content="static">
<link rel="shortcut icon" href="/favicon.ico"/>

<!-- Global stylesheets -->
	<link href="//fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="__PUBLIC__/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="__PUBLIC__/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="__PUBLIC__/assets/css/core.css" rel="stylesheet" type="text/css">
	<link href="__PUBLIC__/assets/css/components.min.css" rel="stylesheet" type="text/css">
	<link href="__PUBLIC__/assets/css/colors.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->
		<!-- Core JS files -->
	<script type="text/javascript" src="__PUBLIC__/assets/js/plugins/loaders/pace.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/assets/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/assets/js/core/libraries/bootstrap.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/assets/js/plugins/loaders/blockui.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/assets/js/plugins/ui/nicescroll.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/assets/js/plugins/ui/drilldown.js"></script>
	<!-- /core JS files -->

<script type="text/javascript" src="__PUBLIC__/static/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/js/jquery.cookies.2.2.0.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/js/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/js/posfixed.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/js/dot.min.js"></script>

<!-- Theme JS files -->
	<script type="text/javascript" src="__PUBLIC__/assets/js/plugins/visualization/d3/d3.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
	<script type="text/javascript" src="__PUBLIC__/assets/js/plugins/forms/styling/switchery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/assets/js/plugins/forms/styling/uniform.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
	<script type="text/javascript" src="__PUBLIC__/assets/js/plugins/ui/moment/moment.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/assets/js/plugins/pickers/daterangepicker.js"></script>
	<!-- /theme JS files -->
</head>