				<li class="nav-item dropdown header-custom-icon langMenu">
					<a class="dropdown-toggle" data-toggle="dropdown" >
						<div id="langselection"><img src="__PUBLIC__/assets/images/flags/<notempty name="Think.cookie.lang"> {$Think.cookie.lang}<else/>en</notempty>.png" class="position-left" alt="">
						
						<span class="caret"></span></div>
					</a>
					<div class="dropdown-menu">
					<div class="dropdown-body">
												<a onclick="choose_lang('en')"  class="dropdown-item"><img src="__PUBLIC__/assets/images/flags/gb.png" alt=""> English</a>
						<a onclick="choose_lang('es')" class="dropdown-item"><img src="__PUBLIC__/assets/images/flags/es.png" alt=""> España</a>
						<a onclick="choose_lang('nl')" class="dropdown-item"><img src="__PUBLIC__/assets/images/flags/nl.png" alt=""> Dutch</a>
						<a onclick="choose_lang('iw')" class="dropdown-item"><img src="__PUBLIC__/assets/images/flags/iw.png" alt=""> Hebrew</a>
						<a onclick="choose_lang('de')" class="dropdown-item"><img src="__PUBLIC__/assets/images/flags/de.png" alt=""> German</a>
						<a onclick="choose_lang('ko')" class="dropdown-item"><img src="__PUBLIC__/assets/images/flags/ko.png" alt=""> Korean</a>
						<a onclick="choose_lang('ja')" class="dropdown-item"><img src="__PUBLIC__/assets/images/flags/ja.png" alt=""> Japanese</a>
						<a onclick="choose_lang('pt')" class="dropdown-item"><img src="__PUBLIC__/assets/images/flags/pt.png" alt=""> Portuguese</a>
						<a onclick="choose_lang('ru')" class="dropdown-item"><img src="__PUBLIC__/assets/images/flags/ru.png" alt=""> Русский</a>
						<a onclick="choose_lang('tr')" class="dropdown-item"><img src="__PUBLIC__/assets/images/flags/tr.png" alt=""> Turkish</a>
						<a onclick="choose_lang('vi')" class="dropdown-item"><img src="__PUBLIC__/assets/images/flags/vi.png" alt=""> Vietnamese</a>
						<a onclick="choose_lang('zhtw')" class="dropdown-item"><img src="__PUBLIC__/assets/images/flags/zhtw.png" alt=""> Traditional</a>
						<a onclick="choose_lang('zhcn')" class="dropdown-item"><img src="__PUBLIC__/assets/images/flags/zhcn.png" alt=""> Simplified</a>
						
					</div>
					</div>
				</li>