		<li class="nav-item dropdown userMenu header-custom-icon">
					<a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">Süleyman Köroglu </a>
					<div class="dropdown-menu">
						<div class="dropdown-header d-flex align-items-center justify-content-between">
							<p class="font-weight-medium">506***4818</p>
						</div>
						<div class="dropdown-body">
							<a class="dropdown-item" href="my-account.html"> <span>Kisisel Merkez</span></a> <a class="dropdown-item" href="authentication.html"><span>Kimlik Dogrulama</span></a>
							<a class="dropdown-item" href="profile-security.html"><span>Hesap Güvenligi</span></a> <a class="dropdown-item" href="user-activity.html"><span>Kullanici Hareketleri</span></a>
							<a class="dropdown-item changeThemeLight" href="#!"><span>Gece/Gündüz Modu</span></a> <a class="dropdown-item" href="affiliate.html"><span>Arkadasini Davet Et</span></a>
							<a class="dropdown-item" href="gift-card.html"><span>Hediye Karti</span></a> <a class="dropdown-item" href="!#"><span>Çikis Yap</span> </a>
						</div>
					</div>
				</li>