<div class="col-md-4 col-sm-6 mx-auto">
							<div class="card chat-box">
								<div class="card-header">
									<div class="pair-name">
										<div class="icon" style="background-image: url('__PUBLIC__/template/v6/img/icons/btc.png')"></div>
										<div class="name">{$ad_info.peername}</div>
									</div>
								</div>
								<div class="card-body chat-care">
									<ul class="chat" id="chathistory">
									
									</ul>
								</div>
								<div class="card-footer">
									<div class="input-group">
										<input id="btn-input" type="text" class="form-control input-sm" placeholder="{:l('Enter your message')}"/> <span class="input-group-btn">
				                            <button type="submit" class="btn btn-2" id="btn-chat" onclick="sendchat()">{:l('Send')}</button>
					                        </span>
									</div>
								</div>
							</div>
						</div>
						
	