<include file="Trade:html_header"/>
<body id="mainbody" class="crypt-white">

	<!--Header Starts-->
    <include file="Trade:header"/>
	<!--Header Ends-->
    <div class="container-fluid">
	 <div class="row">
	<div class="leftwing col-sm-12  col-lg-12 col-xl-12 col-xxl-12">
        <div class="row sm-gutters pt-3" id="firstRowWidgets">
            <div class="col-xs-12 col-md-3 col-lg-3 col-xl-3 col-xxl-2" id="show_orderbook">
            <include file="Trade:buysellorders"/>    
            </div>
            <div class=" col-xs-12  col-md-6 col-lg-6 col-xl-6 col-xxl-8" >
             
			<include file="Trade:graphs"/>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-3 col-xxl-2" >
                <include file="Trade:advance_widget_instruments"/>
				<div class="d-none d-sm-block">
				<include file="Trade:dealrecords"/>
				</div>
            </div>
        </div>
		</div>
	
	</div>
    </div>
    <div class="container-fluid">
        <div class="row sm-gutters">
            <div class="col-xl-12 col-lg-12 " id="show_history">
                <include file="Trade:historyblock"/>
        </div>
    </div>
    <footer>
<include file="Trade:mobile-tab"/>
    </footer>
<include file="Trade:footer_scripts"/>
<include file="Trade:stop-buy-script"/>
<include file="Trade:widget_chat"/>
</body>
</html>