<include file="Public:header" />
		<!-- Page content -->
		<div class="page-container">	
	
<include file="Finance:left" />

		<!-- Main content -->
			<div class="panel panel-default">
			<div class="panel-heading">
				<h1>
					<span>
					<a class="right" onclick="$('#hints').slideToggle();"><i class="fa fa-hand-o-right move fz_14 mr5"></i><span class="fz_12 move">{:l('VIEW_DESCRIPTION')}</span></a>
											</span>
				</h1>
							<div id="hints" class="mytips" style="display:none;">
				<p>
				
				<notempty name="prompt_text">
					{$prompt_text}
				</notempty>
				
				</p>			
			</div>
			</div>
			<div class="panel-body ">
				<div class="table-responsive  ">
					<table class="table table-condensed">
						<thead>
						<tr>
							<th>{:l('UID')}</th>
							<th>{:l('Username')}</th>
							<th>{:l('Email')}</th>
							
							<th width="">
							Some Option here
							</th>
						</tr>
						</thead>
						<tbody>
						
						
						<volist name="list" id="vo">
							<tr>
								<td>{$vo['id']}</td>
								<td>{$vo['username']}</td>
								<td>{$vo['email']}</td>
								<td></td>
							</tr>
						</volist>
						</tbody>
					</table>
					<div class="pages"></div>
				</div>
			</div>

			
				</div>
			</div>
		

<script>
	var hints = "0";
	if(hints == 1){
		$('#hints').show();
	}
	$('#finance_box').addClass('active');
	$('.finan_coinout').addClass('active');
</script>
<include file="Public:footer_minimal"/>