<div class="sidebar">
	<div id="subnav" class="subnav current">
		<h3>
			<i class="icon icon-unfold current"></i>
			Finance
		</h3>
		<ul class="side-sub-menu current">
			<li class="mycz-indexa">
				<a class="item" href="{:U('Mycz/index')}">Finance Config</a>
			</li>
			<li class="mycz-indeax">
				<a class="item" href="{:U('Mycz/index')}">Recharge Methods</a>
			</li>
			<li class="mycz-indeax">
				<a class="item" href="{:U('Mycz/index')}">Recharge record</a>
			</li>
			
			<li class="mycz-indeax">
				<a class="item" href="{:U('Mycz/index')}">Withdrawal Methods</a>
			</li>
			<li class="mycz-tyape">
				<a class="item" href="{:U('Mycz/type')}">USD </a>
			</li>
			<li class="mycz-tyape">
				<a class="item" href="{:U('Mycz/type')}">Digital assets transferredRememberrecord</a>
			</li>
			<li class="mycz-tyape">
				<a class="item" href="{:U('Mycz/type')}">Digital assets Withdrawal Remember record</a>
			</li>
			
		</ul>
	</div>
</div>