
<include file="Public:header"/>

<div id="main-content" class="col-sm-10">
	<div id="top-alert" class="fixed alert alert-error" style="display: none;">
		<button class="close fixed" style="margin-top: 4px;">&times;</button>
		<div class="alert-content">Warnings</div>
	</div>
	<div id="main" class="main">
		<div class="main-title-h">
			<span class="h1-title">Withdrawals record</span>
			<notempty name="name">
				<span class="h2-title">>><a href="{:U('Finance/mytx')}">Withdraw List</a></span>
			</notempty>
		</div>
		<div class="cf">
			<div class="fl">
				<button class="btn ajax-post confirm btn-danger " url="{:U('Finance/mytxStatus',array('type'=>'del'))}" target-form="ids">Delete</button>
				<button class="btn btn-success" url="{:U('Finance/mytxExcel')}" target-form="ids" id="submit" type="submit">Export selected</button>
			</div>
			<div class="search-form fr cf">
				<div class="sleft">
					<form name="formSearch" id="formSearch" method="get" name="form1">
						<select style="width: 160px; float: left; margin-right: 10px;" name="status" class="form-control">
							<option value="0"
							<empty name="Think.get.status">selected</empty>
							>All                            </option>
							<option value="1"
							<eq name="Think.get.status" value="1">selected</eq>
							>Untreated                            </option>
							<option value="2"
							<eq name="Think.get.status" value="2">selected</eq>
							>Already transfer money                            </option>
							<option value="3"
							<eq name="Think.get.status" value="3">selected</eq>
							>Revoked                            </option>
							<option value="4"
							<eq name="Think.get.status" value="4">selected</eq>
							>Processing                            </option>
						</select>
						<select style=" width: 160px; float: left; margin-right: 10px;" name="field" class="form-control">
							<option value="username"
							<eq name="Think.get.field" value="username">selected</eq>
							>Username</option>
							<option value="tradeno"
							<eq name="Think.get.field" value="tradeno">selected</eq>
							>order number</option>
						</select>
						<input type="text" name="name" class="search-input form-control  " value="{$Think.get.name}" placeholder="Enter text to search" style="">
						<a class="sch-btn" href="javascript:;" id="search"> <i class="btn-search"></i> </a>
					</form>
					<script>
						//Search function
						$(function () {
							$('#search').click(function () {
								$('#formSearch').submit();
							});
						});
						//Enter search
						$(".search-input").keyup(function (e) {
							if (e.keyCode === 13) {
								$("#search").click();
								return false;
							}
						});
					</script>
				</div>
			</div>
		</div>
		<div class="data-table table-striped">
			<form id="form" action="{:U('Finance/mytxExcel')}" method="post" class="form-horizontal">
				<table class="">
					<thead>
					<tr>
						<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
						<th class="">ID</th>
						<th class="">Username</th>
						<th class="">Requested</th>
						<th class="">Fee</th>
						<th class="">To be paid</th>
						<th class="">Info</th>
						<th class="">Person name</th>
						<th class="">Method</th>
						<!--<th class="">State Bank withdrawals</th>
						<th class="">Withdraw Bank city</th>-->
						<th class="">Info</th>
						<th class="">Withdrawal Address</th>
						<th class="">Status</th>
						<th class="">Option</th>
					</tr>
					</thead>
					<tbody>
					<notempty name="list">
						<volist name="list" id="vo">
							<tr>
								<td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}"/></td>
								<td>{$vo.id}</td>
								<td>{$vo['username']}</td>
								<td>{$vo.coin} {$vo.num}</td>
								<td>{$vo.fee}</td>
								<td>{$vo.mum}</td>
								<td><span class="glyphicon glyphicon-time" title="Requested {$vo.addtime|addtime}"></span></td>
								<td>{$vo.truename}</td>
								<td>{$vo.bank}</td>
								<!--<td>{$vo.bankprov}</td>
								<td>{$vo.bankcity}</td>-->
								<td><if condition="$vo['bankaddr']"><span class="btn btn-info btn-sm" onclick='showtx("Name:{$vo.truename}<br/>Bank:{$vo.bank}<br/>Branch:{$vo.bankaddr}<br/>A/C #:{$vo.bankcard}")'>Info</span><else/>--</if></td>
								<td>{$vo.bankcard}</td>
								<td>
									<eq name="vo.status" value="0">Unpaid</eq>
									<eq name="vo.status" value="1">Paid</eq>
									<eq name="vo.status" value="2">Revoked</eq>
									<eq name="vo.status" value="3">Processing</eq>
								</td>
								<td>
								
									<eq name="vo.status" value="1">
									<a  href="{:U('Finance/fiatwithdrawal?id='.$vo['id'])}" class="btn btn-info btn-xs">Edit Info</a>
									</eq>

									<eq name="vo.status" value="0">
										<a href="{:U('Finance/mytxChuli?id='.$vo['id'])}" class="ajax-get btn btn-primary btn-xs">Lock for Processing</a>
										<a href="{:U('Finance/mytxReject?id='.$vo['id'])}" class="ajax-get btn btn-danger btn-xs">Undo </a>
									</eq>
									<eq name="vo.status" value="3">
										<a href="{:U('Finance/mytxConfirm?id='.$vo['id'])}" class="ajax-get btn btn-success btn-xs">Mark as paid </a>
									</eq>
									</td>
							</tr>
						</volist>
						<else/>
						<td colspan="17" class="text-center">No data temporarily!</td>
					</notempty>
					</tbody>
				</table>
			</form>
			<div class="page">
				<div>{$page}</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	//submit Form
	$('#submit').click(function () {
		$('#form').submit();
	});
	
function showtx(info){
	layer.alert(info, {title: "Bank information",btn: ['Ok']});
	}
	
</script>
<include file="Public:footer"/>
<block name="script">
	<script type="text/javascript" charset="utf-8">
		//Highlight navigation
		highlight_subnav("{:U('Finance/mytx')}");
	</script>
</block>