<include file="Public:header"/>
<div id="main-content" class="col-sm-10">
	<div id="top-alert" class="fixed alert alert-error" style="display: none;">
		<button class="close fixed" style="margin-top: 4px;">&times;</button>
		<div class="alert-content">Warnings</div>
	</div>
	<div id="main" class="main">
		<div class="main-title-h">
			<span class="h1-title">Digital assets Deposits</span>
		</div>
		<div class="cf">
			<div class="search-form fr cf">
				<div class="sleft">
					<form name="formSearch" id="formSearch" method="get" name="form1">
						<select style="width: 160px; float: left; margin-right: 10px;" name="coinname" class="form-control">
							<option value=""
							<empty name="Think.get.coinname">selected</empty>
							>Currency Trading</option>
							<volist name="C['coin']" id="vo">
								<option value="{$vo['name']}"
								<eq name="vo['name']" value="$Think.get.coinname">selected</eq>
								>{$vo['title']}</option>
							</volist>
						</select>
						<select style=" width: 160px; float: left; margin-right: 10px;" name="field" class="form-control">
							<option value="username"
							<eq name="Think.get.field" value="username">selected</eq>
							>Username</option>
						</select>
						<input type="text" name="name" class="search-input form-control  " value="{$Think.get.name}" placeholder="Enter text to search" style="">
						<a class="sch-btn" href="javascript:;" id="search"> <i class="btn-search"></i> </a>
					</form>
					<script>
						//Search function
						$(function () {
							$('#search').click(function () {
								$('#formSearch').submit();
							});
						});
						//Enter search
						$(".search-input").keyup(function (e) {
							if (e.keyCode === 13) {
								$("#search").click();
								return false;
							}
						});
					</script>
				</div>
			</div>
		</div>
		<div class="data-table table-striped">
			<table class="">
				<thead>
				<tr>
					<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
					<th class="">ID</th>
					<th class="">Username</th>
					<th class="">Currencies</th>
					<th width="">Transfer time</th>
					<th width="">Address</th>
					<th width="">Hash</th>
					<th width="">Deposit Amount</th>
					<th width="">Actual arrival</th>
					<th width="">Fee</th>
					<th width="">Status</th>
				</tr>
				</thead>
				<tbody>
				<notempty name="list">
					<volist name="list" id="vo">
						<tr>
							<td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}"/></td>
							<td>{$vo.id}</td>
							<td>{$vo['usernamea']}</td>
							<td>{$vo.coinname}</td>
							<td>{$vo.addtime|addtime}</td>
							
							<td><if condition="$vo['username']"><span class="btn btn-info btn-xs" onclick='showtx("{$vo['username']}<if condition="$vo['dest_tag']"><br/><b>Dest_tag</b>:{$vo['dest_tag']}</if>")'>{$vo.username|msubstr=0,10}</span><else/>--</if></td>
							<td><if condition="$vo['txid']"><span class="btn btn-info btn-xs" onclick='showtx("{$vo['txid']}")'>{$vo.txid|msubstr=0,4}</span><else/>--</if></td>
							<td>{$vo['num']*1}</td>
							<td>{$vo['mum']*1}</td>
							<td>{$vo['fee']*1}</td>
							<td>
								<eq name="vo.status" value="1"> success
									<else/>
								    Pending
									 <a href="{:U('Finance/myzrConfirm?id='.$vo['id'])}" class="ajax-get btn btn-primary btn-xs">Confirm Deposit</a>
								</eq>
							</td>
						</tr>
					</volist>
					<else/>
					<td colspan="12" class="text-center">No contents!</td>
				</notempty>
				</tbody>
			</table>
			<div class="page">
				<div>{$page}</div>
			</div>
		</div>
	</div>
</div>
<script>
function showtx(tx){
	layer.alert(tx, {title: "Deposit information",btn: ['Ok']});
	}
	</script>
<include file="Public:footer"/>
<block name="script">
	<script type="text/javascript" charset="utf-8">
		//Highlight navigation
		highlight_subnav("{:U('Finance/myzr')}");
	</script>
</block>