<include file="Public:header"/>
<script type="text/javascript" src="__PUBLIC__/layer/laydate/laydate.js"></script>
<div id="main-content" class="col-sm-10">
	<div id="top-alert" class="fixed alert alert-error" >
		<button class="close fixed" style="margin-top: 0px;">&times;</button>
		<php>if(!isset($_GET['id'])){</php>
		<div class="alert-content">Careful! It adds investment to user account without reducing user balance</div>
		<php>}else{</php>
		<div class="alert-content">Careful! You are editing existing investment</div>
		<php>}</php>
	</div>
<div id="main" class="main">
        <div class="main-title-h" style="font-size: 24px;">
            <span class="h1-title">Add/Edit Investment Log</span>
                        <i class="ca"></i>[<a href="/Admin/Invest/investlist"> List</a> ]        </div>
        <div class="tab-wrap">
            <div class="tab-content">
                <form id="form" action="/Admin/Invest/editInvesmentLog" method="post" class="form-horizontal">
                    <div id="tab" class="tab-pane in tab">
                        <div class="form-item cf">
                            <table>
                                <tbody><tr class="controls">
                                                <td class="item-label">ID :</td>
                                                <td>
                                                    <input type="text" class="form-control" value="{$id}" disabled="disabled" style="background-color: #ECECEC;min-width: 400px;color: red;" name="id"/>
													<notempty name="id"><input type="hidden" name="id" value="{$id}"/></notempty>
													
                                                </td>
                                                <td class="item-note"></td>
                                            </tr>
											
											<tr class="controls">
                                                <td class="item-label">Investment Box ID:</td>
                                                <td>
                                                    <input type="text" class="form-control" name="boxid" value="{$boxid}" style="min-width: 400px;">
                                                </td>
                                                <td class="item-note">Id of InvestBox</td>
                                            </tr>
											<tr class="controls">
                                                <td class="item-label">Period:</td>
                                                <td>
                                                    <input type="text" class="form-control" name="period" value="{$period}" style="min-width: 400px;">
                                                </td>
                                                <td class="item-note">Number of days</td>
                                            </tr>
																						<tr class="controls">
												<td class="item-label">Begin time :</td>
												<td>
													<input type="text" class="form-control  input-10x " name="begintime" value="{$data['begintime']|addtime}" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
												</td>
												<td class="item-note"></td>
											</tr>

											<tr class="controls">
												<td class="item-label">End time :</td>
												<td>
													<input type="text" class="form-control  input-10x " name="endtime" value="{$data['endtime']|addtime}" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
												</td>
												<td class="item-note"></td>
											</tr>
											<tr class="controls">
                                                <td class="item-label">Investment Amount:</td>
                                                <td>
                                                    <input type="text" class="form-control" name="amount" value="{$amount}" style="min-width: 400px;">
                                                </td>
                                                <td class="item-note">Investment amount</td>
                                            </tr>
											<tr class="controls">
                                                <td class="item-label">Maturity Amount:</td>
                                                <td>
                                                    <input type="text" class="form-control" name="maturity" value="{$maturity}" style="min-width: 400px;">
                                                </td>
                                                <td class="item-note">Maturity receivable amount</td>
                                            </tr>
											

											

											<tr class="controls">
                                                <td class="item-label">Userid :</td>
                                                <td>
                                                    <input type="text" class="form-control" name="userid" value="{$userid}" style="min-width: 400px;">
                                                </td>
                                                <td class="item-note">Userid of investor</td>
                                            </tr>
												<tr class="controls">
									<td class="item-label">Status :</td>
									<td><select name="status" class="form-control input-10x">
									'Premature Withdrawn', 'Active', 'Reject', 'Completed'
										<option value="1"
										<eq name="status" value="1">selected</eq>
										>Active</option>
										<option value="0"
										<eq name="status" value="0">selected</eq>
										>Premature Withdrawn</option>
										
										<option value="2"
										<eq name="status" value="2">selected</eq>
										>Rejected</option>
										<option value="3"
										<eq name="status" value="3">selected</eq>
										>Completed</option>
									</select></td>
									<td class="item-note"></td>
								</tr>
											
											<tr class="controls" style="margin: 10px 0px;height: 80px;">
                                    <td class="item-label"></td>
                                    <td>
                                        <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal" autocomplete="off">Submit</button>
                                        <a class="btn btn-return" href="{:U('Admin/Invest/')}">Back</a>
                                    </td>
                                    <td class="item-note"></td>
                                </tr>
                            </tbody></table>
                        </div>
                    </div>
                </form>
                <script type="text/javascript">
                    //submit Form
                    $('#submit').click(function () {
                        $('#form').submit();
                    });
                </script>
            </div>
        </div>
    	</div>
</div>

<include file="Public:footer"/>
<block name="script">
	<script type="text/javascript" charset="utf-8">
		//Highlight navigation
		highlight_subnav("{:U('Invest/addInvestment')}");
	</script>
</block>