<include file="Public:header" />
<div id="main-content" class="col-sm-10">
 <div id="top-alert" class="fixed alert alert-error" style="display: none;">
  <button class="close fixed" style="margin-top: 4px;">&times;</button>
  <div class="alert-content">Warnings</div>
 </div>
 <div id="main" class="main">
     <div class="main-title-h">
         <span class="h1-title">Advertising User Management</span>
     </div>
  <div class="data-table table-striped">
   <table class="">
    <thead>
     <tr>
      <th class="row-selected row-selected"><input class="check-all" type="checkbox" /></th>
      <th class="">ID</th>
      <th class="">Username</th>
      <th class="">Membership Level</th>
      <!--<th class="">Total advertising profits</th>-->
      <!--<th class="">Today monetization</th>-->
      <th class="">Option</th>
     </tr>
    </thead>
    <tbody>
     <notempty name="list"> <volist name="list" id="vo">
      <tr>
       <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
       <td>{$vo.id}</td>
       <td>{$vo.username}</td>
       <td>{$vo.vip_name}(level:{$vo.tag})</td>
       <td>
          <a href="{:U('App/ads_user_detail?uid='.$vo['uid'])}" class="btn btn-success btn-xs">Click Log</a>
      </tr>
     </volist> <else />
     <td colspan="12" class="text-center">No contents!</td>
     </notempty>
    </tbody>
   </table>
   <div class="page">
    <div>{$page}</div>
   </div>
  </div>
 </div>
</div>
<script type="text/javascript">
	//Highlight the main navigation
//	$('.Appads-box').addClass('current');
//	//Highlight side navigation
//	$('.Appads-index').addClass('current');
</script>
<!-- /Content Area -->
<include file="Public:footer" />