<include file = "Public:header" />
<div id = "main-content" >
    <div id = "top-alert" class = "fixed alert alert-error" style = "display: none;" >
        <button class = "close fixed" style = "margin-top: 4px;" >&times;</button >
        <div class = "alert-content" >Warnings</div >
    </div >
    <div id = "main" class = "main" >
        <div class = "main-title-h" >
            <span class = "h1-title" >APPbasic configuration</span >
        </div >
        <div class = "tab-wrap" >
            <div class = "tab-content" >
                <form id = "form" action = "{:U('App/config')}" method = "post" class = "form-horizontal" >
                    <div id = "tab" class = "tab-pane in tab" >
                        <div class = "form-item cf" >
                            <table>
                                <input type = "hidden" class = "form-control" name = "id" value = "{$appCon['id']}" ></td>
                                <tr><td>&nbsp;</td></tr>

                                <tr class = "controls" style="border: solid 1px yellowgreen;margin-top: 10px" >
                                    <td class = "item-label" >Advertising management sector :</td >
                                    <td >
                                        <div style="width: 500px;text-align: left">
                                           <ul style="border: solid 1px yellowgreen;margin-top: 10px" >
                                               <span>Plate1</span>
                                               <div>
                                                   Icon Address:1111111
                                                   Icon Address:1111111
                                                   Icon Address:1111111
                                                   Icon Address:1111111
                                               </div>
                                           </ul>
                                            <ul  style="border: solid 1px yellowgreen;margin-top: 10px" >
                                                <span>Plate2</span>
                                                <div>
                                                    Icon Address:1111111
                                                    Icon Address:1111111
                                                    Icon Address:1111111
                                                    Icon Address:1111111
                                                </div>
                                            </ul>
                                        </div>
                                    </td >
                                    <td class = "item-note" ></td >
                                </tr >

                                <tr class="controls">
                                    <td class="item-label">Ad Image :</td>
                                    <td>
                                        <div id="addpicContainer">
                                            <!-- Usemultiple="multiple"Property implementationAdd toMore map features -->
                                            <!-- position: absolute;left: 10px;top: 5px;Only for thisuseThe casesinputHidden toimageunder.-->
                                            <!-- height:0;width:0;z-index: -1;In order to hideinput,becauseChromeYou can not use lowerdisplay:noneOtherwise, notAdd tofile -->
                                            <!-- onclick="getElementById('inputfile').click()" Click onimageWhen click onAdd tofilePush button -->

                                            <notempty name="data.img">
                                                <!--Noimagedisplaydefaultimage-->
                                                <img id="up_img"  onclick="getElementById('inputfile').click()" style="cursor:pointer;border: 1px solid #AABBCC;"
                                                     title="Click Add Picture" alt="Click Add Picture" src="{$data.img}">
                                                <else/>
                                                <!--Noimagedisplaydefaultimage-->
                                                <img id="up_img"  onclick="getElementById('inputfile').click()" style="cursor:pointer;border: 1px solid #AABBCC;"
                                                     title="Click Add Picture" alt="Click Add Picture"
                                                     src="/Upload/app/addimg.png">
                                            </notempty>
                                            <input type="file" id="inputfile" style="height:0;width:0;z-index: -1; position: absolute;left: 10px;top: 5px;" value="{$data.img}"/>
                                            <span class="loading"></span>
                                        </div>
                                    </td>
                                    <td class="item-note">600px*600px</td>
                                </tr>

                                <tr class = "controls" >
                                    <td class = "item-label" ></td >
                                    <td >
                                        <div class = "form-item cf" >
                                            <button class = "btn submit-btn  ajax-post" target-form = "form-horizontal" id = "submit" type = "submit" >Submit</button >
                                            <a class = "btn btn-return" href = "{$Think.server.HTTP_REFERER}" >Back</a >
                                        </div >
                                    </td >
                                </tr >
                            </table >
                        </div >
                    </div >
                </form >


                <script type = "text/javascript" >
                    $(document).ready(function(){
                        //The response fileAdd tosuccessevent
                        $("#inputfile").change(function(){
                            //createFormDataObjects
                            var data = new FormData();
                            //forFormDataAdding Data Object
                            $.each($('#inputfile')[0].files, function(i, file) {
                                data.append('upload_file'+i, file);
                            });
                            $(".loading").show();	//Load picture show
                            //send data
                            $.ajax({
                                url:'/Admin/App/upload',
                                type:'POST',
                                data:data,
                                cache: false,
                                contentType: false,		//Essential parameters
                                processData: false,		//Essential parameters
                                success:function(data){
                                    $('#up_img').attr("src",data);
                                    $('#up_img').show();
                                    $(".loading").hide();	//plusLoadsuccessshiftexceptplusLoadimage
                                },
                                error:function(){
                                    alert('Upload error');
                                    $(".loading").hide();	//plusUpload failedshiftexceptplusLoadimage
                                }
                            });
                        });
                    });


                    //submit Form
                    $('#submit').click(function () {
                        $('#form').submit();
                    });
                </script >
            </div >
        </div >
    </div >
</div >
<script type = "text/javascript" src = "__PUBLIC__/kindeditor/kindeditor-min.js" ></script >
<script type = "text/javascript" >

    var editor;
    KindEditor.ready(function (K) {
        editor = K.create('textarea[name="web_reg"]', {
            width: '465px',
            height: '60px',
            items: [
                'source',
                'fontname',
                'fontsize',
                '|',
                'forecolor',
                'hilitecolor',
                'bold',
                'italic',
                'underline',
                'removeformat',
                '|',
                'justifyleft',
                'justifycenter',
                'justifyright',
                'insertorderedlist',
                'insertunorderedlist',
                '|',
                'emoticons',
                'link',
                'fullscreen'
            ],
            afterBlur: function () {
                this.sync();
            }
        });
    });
</script >
<script type = "text/javascript" >
    $(function () {
        //Highlight the main navigation
        $('.config-box').addClass('current');
        //Highlight side navigation
        $('.config-index').addClass('current');
    });
</script >
<include file = "Public:footer" />