<include file="Public:header" />
<div id="main-content" class="col-sm-10">
 <div id="top-alert" class="fixed alert alert-error" style="display: none;">
  <button class="close fixed" style="margin-top: 4px;">&times;</button>
  <div class="alert-content">Warnings</div>
 </div>
 <div id="main" class="main">
  <div class="main-title-h">
   <span class="h1-title">APPAdvertising management sector</span>
  </div>
  <div class="cf">
   <div class="fl">
    <a class="btn btn-success navbar-btn btn-sm" href="{:U('App/adsblock_edit')}">Add</a>
    <button class="btn ajax-post btn-info navbar-btn btn-sm" url="{:U('App/adsblock_edit_status',array('method'=>'resume'))}" target-form="ids">Enable</button>
    <button class="btn ajax-post btn-warning navbar-btn btn-sm" url="{:U('App/adsblock_edit_status',array('method'=>'forbid'))}" target-form="ids">Disable</button>
    <button class="btn ajax-post confirm btn-danger navbar-btn btn-sm" url="{:U('App/adsblock_edit_status',array('method'=>'delete'))}" target-form="ids">Delete</button>
   </div>
  </div>
  <div class="data-table table-striped">
   <table class="">
    <thead>
     <tr>
      <th class="row-selected row-selected"><input class="check-all" type="checkbox" /></th>
      <th class="">ID</th>
      <th class="">Section name</th>
      <th class="">Plate presentation</th>
      <th class="">Grade requirements</th>
      <th class="">commercial time</th>
      <th class="">Plate icon</th>
      <th class="">add time</th>
      <th class="">Status</th>
      <th class="">Option</th>
     </tr>
    </thead>
    <tbody>
     <notempty name="list"> <volist name="list" id="vo">
      <tr>
       <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
       <td>{$vo.id}</td>
       <td>{$vo.name}</td>
       <td>{$vo.content}</td>
       <td><span style="color: #1abc9c;">{$rankMap[$vo['rank']]}</span></td>
       <td><span style="color: #1abc9c;">{$vo.remain}</span> s</td>
       <td><img src="{$vo.img}" width="60"  style="margin-bottom: 20px;"></td>
       <td>{$vo.addtime|addtime}</td>
       <td><eq name="vo.status" value="1">Available<else/>Disable</eq></td>
       <td>
        <a href="{:U('App/ads_list?block_id='.$vo['id'])}" class="btn btn-primary btn-xs">Its advertising</a>
        <a href="{:U('App/adsblock_edit?id='.$vo['id'])}" class="btn btn-primary btn-xs">Edit</a>
      </tr>
     </volist> <else />
     <td colspan="12" class="text-center">No contents!</td>
     </notempty>
    </tbody>
   </table>
   <div class="page">
    <div>{$page}</div>
   </div>
  </div>
 </div>
</div>
<script type="text/javascript">
	//Highlight the main navigation
//	$('.Appads-box').addClass('current');
//	//Highlight side navigation
//	$('.Appads-index').addClass('current');
</script>
<!-- /Content Area -->
<include file="Public:footer" />