<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta content="width=480" name="viewport">
<meta content="width=600" name="viewport">
<meta content="width=770" name="viewport">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="format-detection" content="telephone=no">
<title>Trade</title>
<link rel=icon href="/favicon.ico"><link href="/Public/vuetrade/static/css/app.348d9ff82b8629602314cb1b30fa9566.css" rel="stylesheet"></head>
<body><div id="app"></div><script type="text/javascript" src="/Public/vuetrade/static/js/manifest.a0dfcff8f40c19f9a264.js"></script>
<script type="text/javascript" src="/Public/vuetrade/static/js/vendor.8bfdd90e29bc8cc1ab06.js"></script>
<script type="text/javascript" src="/Public/vuetrade/static/js/app.928f6640e7d80fae47ed.js"></script>
</body></html>