<include file="Public:header" />
<div id="main-content" class="col-sm-10">
 <div id="top-alert" class="fixed alert alert-error" style="display: none;">
  <button class="close fixed" style="margin-top: 4px;">&times;</button>
  <div class="alert-content">Warnings</div>
 </div>
 <div id="main" class="main">
  <div class="main-title-h">
   <span class="h1-title">OTC record</span>
  </div>
  <div class="cf">
  				<div class="fl">
				<a class="btn btn-sm btn-info " href="{:U('Otc/download_log')}" target="_blank">Excel this Page
				</a>
				<a class="btn btn-sm btn-warning " href="{:U('Otc/index')}" >Otc Plans
				</a>

			</div>

   <div class="search-form fr cf">
    <div class="sleft">
     <form name="formSearch" id="formSearch" method="get" name="form1">
      						<select style="width: 160px; float: left; margin-right: 10px;" name="fill" class="form-control">
							<option value=""
							<empty name="Think.get.fill">selected</empty>
							>-Select Fill Status-</option>
							<option value="1" <eq name="Think.get.fill" value="1">selected</eq>>Filled</option>
							<option value="0" <eq name="Think.get.fill" value="0">selected</eq>>Unfilled</option>
						</select>
						<select style="width: 160px; float: left; margin-right: 10px;" name="type" class="form-control">
							<option value=""
							<empty name="Think.get.type">selected</empty>
							>Transaction Type</option>
							<option value="buy" <eq name="Think.get.type" value="buy">selected</eq>>Buy</option>
							<option value="sell" <eq name="Think.get.type" value="sell">selected</eq>>Sell</option>
						</select>
	  <select style=" width: 160px; float: left; margin-right: 10px;" name="field" class="form-control">
       <option value="username"
       <eq name="Think.get.field" value="username">selected</eq>
       >Username</option>
	   <option value="id"
       <eq name="Think.get.field" value="id">selected</eq>
       >OTC Trade ID</option>
      </select>
      <input type="text" name="name" class="search-input form-control  " value="{$Think.get.name}" placeholder="Enter text to search" style="">
      <a class="sch-btn" href="javascript:;" id="search"> <i class="btn-search"></i> </a>
     </form>
     <script>
						//Search function
						$(function(){
							$('#search').click(function(){
								$('#formSearch').submit();
							});
						});
						//Enter search
						$(".search-input").keyup(function(e){
							if(e.keyCode===13){
								$("#search").click();
								return false;
							}
						});
					</script>
    </div>
   </div>
  </div>
  <div class="data-table table-striped">
   <table class="">
    <thead>
     <tr>
      <th class="row-selected row-selected"><input class="check-all" type="checkbox" /></th>
      <th class="">ID</th>
      <th class="">Username[UID]</th>
	  <th class="">Type</th>
      <th class="" >Qty</th>
	  <th class="">Traded</th>
      <th class="">Base</th>
      <th class="">@Price</th>
      <th class="">Commission</th>
      
      <th class="">Total</th>
      <th class="">Time</th>
	  <th class="">Fill Status</th>
	  <th class="">Option</th>
     </tr>
    </thead>
    <tbody>
     <notempty name="list"> <volist name="list" id="vo">
     <tr>
      <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
      <td>{$vo.id}</td>
      <td>{$vo['username']}[{$vo['userid']}]</td>
	  <td>{$vo['type']}</td>
      <td>{$vo['qty']*1}</td>
	  <td>{$vo.trade_coin}</td>
      <td>{$vo.base_coin}</td>
      <td>{$vo['final_price']*1}</td>
      <td>{$vo['profit']*1}</td>
      
	  <td>{$vo['final_total']*1}</td>
      <td>{$vo['addtime']|addtime}</td>
	  <td>
	  								<eq name="vo.fill" value="0">To be filled</eq>
								<eq name="vo.fill" value="1">Filled</eq>
	  </td>
	  								<td>
								<eq name="vo.fill" value="0">
									<a href="{:U('Trade/fill?id='.$vo['id'])}" class="ajax-get btn btn-primary btn-xs">Mark as filled </a>
								</eq>
								<eq name="vo.fill" value="1">
									<span onclick="showtable({$vo.fill_id})" class="ajax-get btn btn-info btn-xs">View </a>
								</eq>
							</td>
     </tr>
     </volist> <else />
     <td colspan="12" class="text-center">No contents!</td>
     </notempty>
    </tbody>
   </table>
   <div class="page">
    <div>{$page}</div>
   </div>
  </div>
 </div>
</div>
<include file="Public:footer" />
<script>
function showtable(fill_id){
		$.get("/Admin/Trade/getFillId?fill_id="+fill_id,function(data){
//   				layer.alert(data.data, {title: "Change info",btn: ['Ok']});
  layer.open({
                            type: 1,
                            skin: 'default', //styleclassname
                            closeBtn: 1, //Close button does not show
                            shift: 2,
							area: ['743px', '584px'],
                            shadeClose: true, //Open mask Close
                            content: data.data
                        });
				console.log('ok');
				console.log(data.data);
   			},'json');
}</script>
<block name="script">
 <script type="text/javascript" charset="utf-8">
  //Highlight navigation
  highlight_subnav("{:U('Issue/log')}");
 </script>
</block>