<include file="Public:header" />


<script type="text/javascript" src="__PUBLIC__/layer/laydate/laydate.js"></script>

<div id="main-content" class="col-sm-10">
 <div id="top-alert" class="fixed alert alert-error" style="display: none;">
  <button class="close fixed" style="margin-top: 4px;">&times;</button>
  <div class="alert-content">Warnings</div>
 </div>
 <div id="main" class="main">
  <div class="main-title-h">
<span class="h1-title"><a href="{:U('Money/index')}">Money Management</a> >></span>
   <span class="h1-title"><empty name="data">Add Money<else />Money editor</empty></span>
  </div>
  <div class="tab-wrap">
   <div class="tab-content">
    <form id="form" action="{:U('Money/save')}" method="post" class="form-horizontal">
     <div id="tab" class="tab-pane in tab">
      <div class="form-item cf">
       <table>
        <tr class="controls">
         <td class="item-label">Money Name :</td>
         <td><input type="text" class=" form-control input-4x" name="name" value="{$data.name}"></td>
         <td class="item-note"></td>
        </tr>

        <tr class="controls">
         <td class="item-label">Money currency :</td>
         <td>
          <empty name="data">
               <select name="coinname" class="input-small">
                <volist name="C['coin_list']" id="v">
                 <option value="{$v['name']}"<eq name="data['coinname']" value="$v['name']">selected</eq>>{$v['title']}
                 </option>
                </volist>
               </select>
           <else />
             {$data['coinname']}
          </empty>
         </td>
         <td class="item-note"></td>
        </tr>

        <tr class="controls">
         <td class="item-label">Financial Module :</td>
         <td>
          <empty name="data">
                <select id="type" name="type" class="input-small">
                 <option value="1" <eq name="data['type']" value="1">selected</eq>>Current mode</option>
                 <option value="2" <eq name="data['type']" value="2">selected</eq>>Recurrence pattern</option>
                </select>
           <else />
           <eq name="data['type']" value="1">Current mode<else/> Recurrence pattern</eq>
          </empty>

         </td>
         <td class="item-note">Current mode:Can be extracted at any time(Deduct fees) Recurrence pattern:Only due to take</td>
        </tr>

        <tr id="outfee" class="controls" <eq name="data['type']" value="2">style="display: none"</eq>>
         <td class="item-label">Fee :</td>
         <td>
          <input type="text" class="form-control  input-4x " name="outfee" value="{$data['outfee']*1}">
         </td>
         <td class="item-note">% Current mode,Take the principal in advanceFeeproportion</td>
        </tr>


        <tr class="controls">
         <td class="item-label">The total amount of financing :</td>
         <td><input type="text" class="form-control input-4x " name="num" value="{$data['num']*1}"></td>
         <td class="item-note"></td>
        </tr>


        <tr class="controls">
         <td class="item-label">Financing amount has been :</td>
         <td><input type="text" class="form-control  input-4x " name="deal" value="{$data['deal']*1}"
          <notempty name="data">readonly</notempty> ></td>
         <td class="item-note"></td>
        </tr>


        <tr class="controls">
         <td class="item-label">Financial period :</td>
         <td>
          <input type="text" class="form-control  input-2x " style="display: inline;" name="tian" value="{$data['tian']*1}" <notempty name="data">readonly</notempty> >
          <select name="danwei" class="form-control  input-2x" style="display: inline;" <notempty name="data">readonly</notempty> >
            <option value="y"<eq name="data['danwei']" value="y">selected</eq>>year</option>
            <option value="m"<eq name="data['danwei']" value="m">selected</eq>>month</option>
            <option value="d"<eq name="data['danwei']" value="d">selected</eq>>day</option>
            <option value="h"<eq name="data['danwei']" value="h">selected</eq>>Time</option>
            <option value="i"<eq name="data['danwei']" value="i">selected</eq>>Minute</option>
           </volist>
          </select>

         </td>
         <td class="item-note">minute   Financial reward cycle 1day = 1440minute | Month =  43200 minute</td>
        </tr>

        <tr class="controls">
         <td class="item-label">Limit cycle :</td>
         <td><input type="text" class="form-control  input-4x " name="lnum" value="{$data['lnum']*1}"></td>
         <td class="item-note">Optional maximum purchase limit in each More interest Gift cycle</td>
        </tr>


        <tr class="controls">
         <td class="item-label">Cycle interest :</td>
         <td><input type="text" class="form-control  input-4x " name="fee" value="{$data['fee']*1}"></td>
         <td class="item-note">%</td>
        </tr>

        <tr class="controls">
         <td class="item-label">Currency Interest :</td>
         <td>

          <empty name="data">
           <select name="feecoin" class="input-small">
            <volist name="C['coin_list']" id="v">
             <option value="{$v['name']}"<eq name="data['feecoin']" value="$v['name']">selected</eq>>{$v['title']}
             </option>
            </volist>
           </select>
           <else />
           {$data['feecoin']}
          </empty>


         </td>
         <td class="item-note">interestGiftWhereMorecurrency</td>
        </tr>


        <!--<tr class="controls">-->
         <!--<td class="item-label">opening time :</td>-->
         <!--<td><input type="text" class="form-control  input-4x " name="addtime" value="{$data['addtime']|addtime}"  onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"></td>-->
         <!--<td class="item-note"></td>-->
        <!--</tr>-->

        <tr class="controls">
         <td class="item-label">End Time :</td>
         <td><input type="text" class="form-control  input-4x " name="endtime" value="{$data['endtime']|addtime}"  onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"></td>
         <td class="item-note"></td>
        </tr>


        <tr class="controls">
         <td class="item-label">Sequence :</td>
         <td><input type="text" class="form-control  input-4x " name="sort" value="{$data['sort']*1}"></td>
         <td class="item-note"></td>
        </tr>

        <tr class="controls">
         <td class="item-label">Status :</td>
         <td><select name="status" class="input-small">
           <option value="1"<eq name="data.status" value="1">selected</eq>>Available
           </option>
           <option value="0"<eq name="data.status" value="0">selected</eq>>Disable
           </option>
         </select></td>
         <td class="item-note"></td>
        </tr>


        <tr class="controls">
         <td class="item-label"></td>
         <td>
          <div class="form-item cf">
           <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">Submit</button>
           <a class="btn btn-return" href="{$Think.server.HTTP_REFERER}">Back</a>
           <notempty name="data.id"> <input type="hidden" name="id" value="{$data.id}" /> </notempty>
          </div>
         </td>
        </tr>
       </table>
      </div>
     </div>
    </form>
    <script type="text/javascript">

     $(document).ready(function(){
      $('#type').change(function(){
           if($(this).val() == 1){
               $('#outfee').fadeIn();
            }else{
               $('#outfee').fadeOut();
            }
      })
     });


					//submit Form
					$('#submit').click(function(){
						$('#form').submit();
					});
				</script>
   </div>
  </div>
 </div>
</div>



<script type="text/javascript" src="__PUBLIC__/kindeditor/kindeditor-min.js"></script>
<script type="text/javascript">
	var editor;
	KindEditor.ready(function(K){
		editor=K.create('textarea[name="introduce"]',{width : '610px',height : '200px',items : false,afterBlur : function(){
			this.sync();
		} });

	});
</script>
<script type="text/javascript">
	$(function(){
		//Highlight the main navigation
		$('.Money-box').addClass('current');
		//Highlight side navigation
		$('.Money-index').addClass('current');
	});
</script>
<include file="Public:footer" />