	<div class="navbar navbar-default navbar-xs navbar-component">
					<div class="navbar-collapse collapse" id="navbar-filter">
						<p class="navbar-text">Filter:</p>
						<ul class="nav navbar-nav">
							<li class="dropdown">
								<a href="{:U('Invest/index')}" >Plans </a>
							</li>
							<li class="dropdown">
								<a href="{:U('Invest/listinvest')}" >My Investments </a>
							</li>
							<eq name="DICE_ENABLE" value="1"><li class="">
								<a href="{:U('Invest/dicerolls')}" >Dice Rolls </a>
							</li></eq>
							<li class="">
							<a href="#"  data-toggle="modal" data-target="#modal_form_investcreate">Launch <i class="icon-play3 position-right"></i></a>
							</li>

						</ul>

						
					</div>
				</div>
				<!-- /tasks options -->
