<include file="Public:header" />

<php> 
$reg_class="";
$fund_class="move";
$kyc_class="";
$success_class="";
</php>
<div class="page-container">
<div class="col-sm-6 col-sm-offset-3">
<include file="Login:progress" />
	<div class="panel panel-default">
		<div class="panel-body text-center">
			<div class="alert alert-warning no-border">
									<button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
									<span class="text-semibold">Notice!</span> {:l('TO_PROTECT_YOUR_ACCOUNT_SECURI')}
							    </div>
			<div class="reg_input_box reg-fb">
				<div class="reg_titlex">{:l('TRANSACTION_PASSWORD')}</div>
				<input type="password" id="paypassword" class="texts w300"/>
			</div>
			<div class="reg_input_box reg-fb">
				<div class="reg_titlex">{:l('CONFIRM_PASSWORD')}</div>
				<input type="password" id="repaypassword" class="texts w300"/>
			</div>
			<br/>
			<div class="reg_button_box">
				<input type="button" class="btns2 w300" value="{:l('THE_NEXT_STEP')}" onclick="paypassword_up();"/>
			</div>
		</div>
	</div>
</div>
</div>

<script>
	function paypassword_up() {
		
		var paypassword   = $("#paypassword").val();
		var repaypassword = $("#repaypassword").val();

		if (paypassword == "" || paypassword == null) {
			layer.tips("{:l('PLEASE_ENTER_TRANSACTION_PASSW')}", '#paypassword', {tips: 2});
			return false;
		}
		if (repaypassword == "" || repaypassword == null) {
			layer.tips("{:l('PLEASE_ENTER_THE_CONFIRMATION_')}", '#repaypassword', {tips: 2});
			return false;
		}
		if (paypassword != repaypassword) {
			layer.tips("{:l('CONFIRM_PASSWORD_ERROR')}", '#repaypassword', {tips: 2});
			return false;
		}

		$.post("/Login/upregister2", {
			paypassword: paypassword,
			repaypassword:repaypassword,
			token: ""
		}, function (data) {
			if (data.status == 1) {
				layer.msg(data.info, {icon: 1});
<eq name="KYC_OPTIONAL" value="0">
					window.location = '/Login/truename';
<else/>
				window.location = '/Login/info';
</eq>
			} else {
				layer.msg(data.info, {icon: 2});
				if (data.url) {
					window.location = data.url;
				}
			}
		}, "json");
	}
</script>
<include file="Public:footer_minimal"/>