<include file="Public:header" />

	<div class="page-container">
<div class="row ">
<div class="tabbable panel login-form width-400">

					<div class="tab-content panel-body">
						<div class="tab-pane fade" id="basic-tab1">
							
								<div class="text-center">
									<div class="icon-object border-slate-300 text-slate-300"><i class="icon-mobile"></i></div>
									<h5 class="content-group">{:l('USER_REGISTRATION')} Mobile</h5>
								</div>

					<div class="form-group has-feedback has-feedback-left">
					<input type="text" id="cellphones" class="texts" style="display: none;"> 
					<input type="text" id="cellphone" class="texts wh300 hg40" placeholder="{:l('PLEASE_ENTER_THE_PHONE_NUMBER')}" onblur="check_cellphone()" style="padding-left: 40px;    width: 295px;"/>
					<link rel="stylesheet" href="__PUBLIC__/static/css/intltelinput.css">
					<script src="__PUBLIC__/static/js/intlTelInput.js"></script>
					<script>
						$("#cellphones").intlTelInput({
							autoHideDialCode: false,
							defaultCountry: "us",
							nationalMode: false,
							preferredCountries: [ 'us', 'uk','in','cn','hk', 'tw', 'mo','it'],
						});
					</script>
					<span id="reg_cellphone" class="" style="position: absolute;left: none;top: 2px;"></span>
					</div>

							<div class="form-group has-feedback has-feedback-left">
							<input id="cellphone_verify" type="text" class="texts w300 hg40" placeholder="{:l('PLEASE_ENTER_VERIFICATION_CODE')}"> 
								</div>

								<div class="form-group has-feedback has-feedback-left">
								<input type="password" id="password" class="texts w300 hg40" placeholder="{:l('PLEASE_ENTER_A_LOGIN_PASSWORD')}" style="line-height: 34px;"/>							
								</div>
								<div class="form-group has-feedback has-feedback-left">
								<input id="invit" type="text" class="texts w300 hg40" placeholder="{:l('INVITE_CODE')}" value=""/>						
								</div>			
								<div class="form-group">
									<button type="submit" class="btn bg-blue btn-block" onclick="reg_up();">{:l('SIGN_UP_NOW')} <i class="icon-arrow-right14 position-right"></i></button>
								</div>

							<span class="help-block text-center no-margin"><label> <input type="checkbox" id="regweb" checked="checked" style="vertical-align: -2px;"> {:l('REGISTRATION_IS_DEEMED_TO_AGRE')} <a href="javascript:void(0)" class="move" onclick="regWeb();">{:l('USER_REGISTRATION_AGREEMENT')}</a></label></span>
						</div>

						<div class="tab-pane fade in active" id="basic-tab2">
								
								<div class="text-center">
									<h5 class="content-group">{:l('USER_REGISTRATION')} Email</h5>
								</div>
								<div class="form-group has-feedback has-feedback-left">
									<input type="text" class="form-control" placeholder="Your email" id="email" onblur="check_email()">
									<div class="form-control-feedback">
										<i class="icon-mention text-muted"></i>
									</div>
										<span id="email_help" class="" style=""></span>
								</div>
								<div class="form-group has-feedback has-feedback-left">
									<input id="email_verify" type="text" class="form-control" placeholder="{:l('PLEASE_ENTER_VERIFICATION_CODE')}" >
									<div class="form-control-feedback">
										<i class="icon-lock text-muted"></i>
									</div>
								</div>
							<div class="form-group has-feedback has-feedback-left">
									<input type="text" class="form-control" placeholder="Username" id="username" onblur="check_username()">
									<div class="form-control-feedback">
										<i class="icon-user text-muted"></i>
									</div>
										<span id="username_help" class="" style=""></span>
								</div>
								
								<div class="form-group has-feedback has-feedback-left">
									<input type="password" class="form-control" placeholder="{:l('PLEASE_ENTER_A_LOGIN_PASSWORD')}" id="email_password">
									<div class="form-control-feedback">
										<i class="icon-user-lock text-muted"></i>
									</div>
								</div>
								<div class="form-group has-feedback has-feedback-left">
									<input id="email_invit" placeholder="{:l('INVITE_CODE')}" type="text" class="form-control" placeholder="Your username">
									<div class="form-control-feedback">
										<i class="icon-user-check text-muted"></i>
									</div>
								</div>
								<div class="content-divider text-muted form-group"><span></span></div>

								<div class="form-group">
									<span class="help-block text-center no-margin"><label> <input type="checkbox" id="emailregweb" checked="checked" style="vertical-align: -2px;"> {:l('REGISTRATION_IS_DEEMED_TO_AGRE')} <a href="javascript:void(0)" class="move" onclick="regWeb();">{:l('USER_REGISTRATION_AGREEMENT')}</a></label></span>
								</div>
								<button type="button" class="btn bg-indigo-400 btn-block" onclick="reg_email()" >{:l('SIGN_UP_NOW')} <i class="icon-circle-right2 position-right"></i></button>
						</div>
					</div>
				</div>
</div>
</div>
<eq name="M_ONLY" value="1">
<div class="all_mask_loginbox" id="step1" style="display: none;width:420px;">
	<div class="login_title pl20">{:l('VERIFY_PHONE')}</div>
	<form id="form-register" class="mask_wrap login-fb">
		<div class="login_text zin80">
			<div class="mask_wrap_title">{:l('CAPTCHA')}</div>
			<input type="text" id="verify" value="" class="texts" style="width: 98px; box-shadow: none;"/>
			<span style="line-height: 20px;">
				<img id="verify_up" class="codeImg reloadverify" src="{:U('Verify/code')}" title="{:l('REFRESH')}" onclick="this.src=this.src+'?t='+Math.random()" width="100" height="34" style="border-radius: 3px;border: 1px solid lightgray;">
			</span>
		</div>
		<div class="login_text zin80">
			<div class="mask_wrap_title">{:l('GET_VERIFICATION_CODE')}</div>
			<input type="button" value="{:l('SEND_SMS_VERIFICATION_CODE')}" class="btns" onclick="cellphone_reg('sms')" style="width: 100px;font-size: 12px;"/>
		</div>
	</form>
	<div class="mask_wrap_close" onclick="showB()"><i class="fa fa-times fz_20 move" aria-hidden="true"></i></div>
</div>
<div id="step2" class="all_mask" style="height: 0px;display: none;"></div>
</eq>
<div class="all_mask_loginbox" id="email_step1" style="display: none;width:420px;">
	<div class="login_title pl20">{:l('VERIFY_EMAIL')}</div>
	<form id="form-register_email" class="mask_wrap login-fb">
		<div class="login_text zin80">
			<div class="mask_wrap_title">{:l('CAPTCHA')}</div>
			<input type="text" id="everify" value="" class="texts" style="width: 98px; box-shadow: none;"/>
			<span style="line-height: 20px;">
				<img id="verify_up" class="codeImg reloadverify" src="{:U('Verify/code')}" title="{:l('REFRESH')}" onclick="this.src=this.src+'?t='+Math.random()" width="100" height="34" style="border-radius: 3px;border: 1px solid lightgray;">
			</span>
		</div>
		<div class="login_text zin80">
			<div class="mask_wrap_title">{:l('GET_VERIFICATION_CODE')}</div>
			<input type="button" value="{:l('SEND VIA EMAIL')}" class="btns" onclick="email_reg('email')" style="width: 100px;font-size: 12px;" id="emailcheckbtn"/>
		</div>
	</form>
	<div class="mask_wrap_close" onclick="showE()"><i class="fa fa-times fz_20 move" aria-hidden="true"></i></div>
</div>
<div id="email_step2" class="all_mask" style="height: 0px;display: none;"></div>
<script>


	$(function () {
	var inviteurl = new URL(window.location.href);
	var invitecode = inviteurl.searchParams.get("invite");
	document.getElementById("email_invit").value =invitecode;
		var height = $(document).height();
		if (height < 1000) {
			height = 1000;
		}
		$('#step2').height(height);
		$('#email_step2').height(height);
		$("#cellphone").focus();
	});
	function regWeb() {
		layer.open({
			type: 2,
			skin: 'layui-layer-rim', //frame
			area: ['800px', '600px'], // width height
			title: 'User Agreement', // title
			content: "{:U('Login/webreg')}"
		});
	}
	
	function showB() {
		$("#step1").hide();
		$("#step2").hide();
		$("#verify").focus();
	}
	function showE() {
		$("#email_step1").hide();
		$("#email_step2").hide();
		$("#everify").focus();
	}
		function check_username() {
		var username  = $('#username').val();
		if (username == "" || username == null) {
			layer.tips("Please choose username", '#username', {tips: 2});
			return false;
		}
		$.post("/Login/check_username", {
			username: username,
			token: ""
		}, function (data) {
			if (data.status == 1) {
				layer.tips("Good!!", '#username', {tips: 2});
				return true;
			} else {
				layer.tips(data.info, '#username', {tips: 2});
				return false;
			}
		}, 'json');
	}
	function check_email() {
		var email  = $('#email').val();
		if (email == "" || email == null) {
			layer.tips("{:l('PLEASE_ENTER_email')}", '#email', {tips: 2});
			return false;
		}
		$.post("/Login/check_email", {
			email: email,
			token: ""
		}, function (data) {
			if (data.status == 1) {
				$("#email_step1").show();
				$("#email_step2").show();
				$("#everify").focus();
				$('#email_help').html('<a class="move" onclick="new_send()">{:l("CLICK_TO_SEND_A_VERIFICATION_C")}</a>');
			} else {
				layer.tips(data.info, '#email', {tips: 2});
				return false;
			}
		}, 'json');
	}
	function check_cellphone() {
		var cellphone  = $('#cellphone').val();
		var cellphones = $('#cellphones').val();
		if (cellphone == "" || cellphone == null) {
			layer.tips("{:l('PLEASE_ENTER_PHONE_NUMBER')}", '#cellphone', {tips: 2});
			return false;
		}
		$.post("/Login/check_cellphone", {
			cellphone: cellphone,
			cellphones: cellphones,
			token: ""
		}, function (data) {
			if (data.status == 1) {
				$("#step1").show();
				$("#step2").show();
				$("#verify").focus();
				$('#reg_cellphone').html('<a class="move" onclick="new_send_email()" title="{:l("CLICK_TO_SEND_A_VERIFICATION_C")}"><i class=" icon-rotate-cw3 position-right"></i></a>');
			} else {
				layer.tips(data.info, '#cellphone', {tips: 2});
				return false;
			}
		}, 'json');
	}
	function verify_ups() {
		$('#verify_up').attr('src', "/Ajax/verify?t=" + Math.random());
	}
	function new_send() {
		$("#step1").show();
		$("#step2").show();
		$("#verify").focus();
	}
	function new_send_email() {
		$("#email_step1").show();
		$("#email__step2").show();
		$("#everify").focus();
	}
	function new_sends() {
		var cellphone  = $('#cellphone').val();
		var cellphones = $('#cellphones').val();
		if (cellphone == "" || cellphone == null) {
			layer.tips("{:l('PLEASE_ENTER_PHONE_NUMBER')}", '#cellphone', {tips: 2});
			return false;
		}
		$.post("/Login/check_cellphone", {
			cellphone: cellphone,
			cellphones: cellphones,
			token: ""
		}, function (data) {
			if (data.status == 1) {
				$("#step1").show();
				$("#step2").show();
				$("#verify").focus();
			} else {
				layer.tips(data.info, '#cellphone', {tips: 2});
				return false;
			}
		}, 'json');
	}
	function cellphone_reg(type) {
		var cellphone  = $("#cellphone").val();
		var cellphones = $("#cellphones").val();
		var verify = $("#verify").val();
		if (cellphone == "" || cellphone == null) {
			layer.tips("{:l('PLEASE_ENTER_THE_PHONE_NUMBER')}", '#cellphone', {tips: 2});
			return false;
		}
		if (verify == "" || verify == null) {
			layer.tips("{:l('PLEASE_ENTER_THE_CAPTCHA_CODE')}", '#verify', {tips: 2});
			return false;
		}
		$.post("/Login/real", {
			cellphone: cellphone,
			cellphones: cellphones,
			type: type,
			verify: verify,
			token: ""
		}, function (data) {
			if (data.status == 1) {
				layer.msg(data.info, {icon: 1});
				$("#step1").hide();
				$("#step2").hide();
				$("#cellphone_verify").focus();
				$('#cellphone').attr("disabled", "disabled");
				$('#cellphones').attr("disabled", "disabled");
				var obj      = $('#reg_cellphone');
				var wait     = 60;
				var interval = setInterval(function () {
					obj.html("<a>Resend code in " + wait + " secs" + "</a>");
					wait--;
					if (wait < 0) {
						clearInterval(interval);
						$(".reloadverify").click();
						$("#verify").val('');
						obj.html('<a class="move" onclick="new_send()">{:l("CLICK_RESEND")}</a>');
					}
					;
				}, 1000);
			} else {
				$(".reloadverify").click();
				layer.msg(data.info, {icon: 2});
				if (data.url) {
					window.location = data.url;
				}
			}
		}, "json");
	}
	function validateEmail(sEmail){
       var reEmail = /^(?:[\w\!\#\$\%\&\'\*\+\-\/\=\?\^\`\{\|\}\~]+\.)*[\w\!\#\$\%\&\'\*\+\-\/\=\?\^\`\{\|\}\~]+@(?:(?:(?:[a-zA-Z0-9](?:[a-zA-Z0-9\-](?!\.)){0,61}[a-zA-Z0-9]?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9\-](?!$)){0,61}[a-zA-Z0-9]?)|(?:\[(?:(?:[01]?\d{1,2}|2[0-4]\d|25[0-5])\.){3}(?:[01]?\d{1,2}|2[0-4]\d|25[0-5])\]))$/;

  if(!sEmail.match(reEmail)) {
    alert("Invalid email address");
    return false;
  }

  return true;

}
function reg_email() {
		var username        = $("#username").val();
		var email        = $("#email").val();
		var verify = $("#email_verify").val();
		var password     = $("#email_password").val();
		var invit        = $("#email_invit").val();
		if (email == "" || email == null || validateEmail(email)== false) {
			layer.tips("{:l('PLEASE_ENTER_VALID_EMAIL')}", '#email', {tips: 2});
			return false;
		}
		if (username == "" ||username == null) {
			layer.tips("Please enter username", '#username', {tips: 2});
			return false;
		}
		if (verify == "" || verify == null) {
			layer.tips("{:l('PLEASE_ENTER_VERIFICATION_CODE')}", '#email_verify', {tips: 2});
			return false;
		}
		if (password == "" || password == null) {
			layer.tips("{:l('PLEASE_ENTER_YOUR_PASSWORD')}", '#password', {tips: 2});
			return false;
		}
		if (!$("#emailregweb").is(':checked')) {
			layer.tips("{:l('CHECK_USER_REGISTRATION_AGREEM')}", '#emailregweb', {tips: 3});
			return false;
		}
		$.post("/Login/emailregister", {
			email: email,
			username: username,
			verify: verify,
			password: password,
			invit: invit,
			token: ""
		}, function (data) {
			if (data.status == 1) {
				layer.msg(data.info, {icon: 1});
				$.cookies.set('exchange_email', email);
					window.location = '/Login/paypassword';
			} else {
				layer.msg(data.info, {icon: 2});
				if (data.url) {
					window.location = data.url;
				}
			}
		}, "json");
	}
	function reg_up() {
		var cellphone        = $("#cellphone").val();
		var cellphones       = $("#cellphones").val();
		var cellphone_verify = $("#cellphone_verify").val();
		var password     = $("#password").val();
		var invit        = $("#invit").val();
		if (cellphone == "" || cellphone == null) {
			layer.tips("{:l('PLEASE_ENTER_PHONE_NUMBER')}", '#cellphone', {tips: 2});
			return false;
		}
		if (cellphone_verify == "" || cellphone_verify == null) {
			layer.tips("{:l('PLEASE_ENTER_VERIFICATION_CODE')}", '#cellphone_verify', {tips: 2});
			return false;
		}
		if (password == "" || password == null) {
			layer.tips("{:l('PLEASE_ENTER_YOUR_PASSWORD')}", '#password', {tips: 2});
			return false;
		}
		if (!$("#regweb").is(':checked')) {
			layer.tips("{:l('CHECK_USER_REGISTRATION_AGREEM')}", '#regweb', {tips: 3});
			return false;
		}
		$.post("/Login/upregister", {
			cellphone: cellphone,
			cellphones: cellphones,
			cellphone_verify: cellphone_verify,
			password: password,
			invit: invit,
			token: ""
		}, function (data) {
			if (data.status == 1) {
				layer.msg(data.info, {icon: 1});
				$.cookies.set('exchange_cellphone', cellphone);
				$.cookies.set('exchange_cellphones', cellphones);
					window.location = '/Login/paypassword';
			} else {
				layer.msg(data.info, {icon: 2});
				if (data.url) {
					window.location = data.url;
				}
			}
		}, "json");
	}
	function email_reg(type) {
		var email  = $("#email").val();
		var verify = $("#everify").val();
		if (email == "" || email == null || validateEmail(email)== false) {
			layer.tips("{:l('PLEASE_ENTER_EMAIL')}", '#email', {tips: 2});
			return false;
		}
		if (email_verify == "" || email_verify == null) {
			layer.tips("{:l('PLEASE_ENTER_THE_CAPTCHA_CODE')}", '#email_verify', {tips: 2});
			return false;
		}
		$.post("{:U('Login/real')}", {
			email: email,
			type: type,
			verify: verify,
			token: ""
		}, function (data) {
			if (data.status == 1) {
				layer.msg(data.info, {icon: 1});
				$("#email_step1").hide();
				$("#email_step2").hide();
				$("#email_verify").focus();
				$('#email').attr("disabled", "disabled");
				var obj      = $('#email_help');
				var wait     = 60;
				var interval = setInterval(function () {
					obj.html("<a>" + wait + "{:l('SEC_CAN_BE_SENT_AGAIN')}" + "</a>");
					wait--;
					if (wait < 0) {
						clearInterval(interval);
						$(".reloadverify").click();
						$("#email_verify").val('');
						obj.html('<a class="move" onclick="new_send_email()">{:l("CLICK_RESEND")}</a>');
					}
					;
				}, 1000);
			} else {
				$(".reloadverify").click();
				layer.msg(data.info, {icon: 2});
				if (data.url) {
					window.location = data.url;
				}
			}
		}, "json");
	}
</script>
<include file="Public:footer_minimal" />