<include file="Public:header" />	
<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main content -->
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-sm-offset-4">
				<!-- Password recovery -->
					<div class="panel panel-body login-form">
						<div class="text-center">
							<div class="icon-object border-warning text-warning"><i class="icon-spinner11"></i></div>
							<h5 class="content-group">Confirm Link in Email <small class="display-block">We've sent you instructions in email</small></h5>
						</div>

					</div>
				<!-- /password recovery -->
				</div>
			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

<include file="Public:footer_minimal" />